<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>我的订货</title>
        <!--说明文字编码-->
        <meta http-equiv="Content-type" content="text/html" charset="utf-8">
        <!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
        <!--控制状态栏显示样式-->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--解决uc字体变大问题-->
        <meta name="wap-font-scale" content="no">
        <!--手机号码不被显示为拨号链接-->
        <meta content="telephone=no" name="format-detection" />
        <!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="stylesheet" href="__PUBLIC__/agcy/css/public.css" />
        <link rel="stylesheet" href="__PUBLIC__/agcy/css/common.css" />
        <link rel="stylesheet" href="__PUBLIC__/agcy/css/wodedinghuo.css" />
    </head>

    <body>
        <div class="header">
            <a href="{:U('ordermanagement/index')}">
                <img src="__PUBLIC__/agcy/images/left.png" />
            </a>
            <p>我的订货</p>
        </div>
        <div class="title flex"> 
            <p <?php if(I('type')==0){echo "class='red'";}?> onclick="changecate(0)">全部</p>
            <p <?php if(I('type')==1){echo "class='red'";}?> onclick="changecate(1)">待付款</p>
            <p <?php if(I('type')==2){echo "class='red'";}?> onclick="changecate(2)">待发货</p>
            <p <?php if(I('type')==3){echo "class='red'";}?> onclick="changecate(3)">已完成</p>
        </div>
        <div id="content">
            <?php if(count($orderlist)>0):?> 
            <?php foreach($orderlist AS $k=>$v):?>
            <div class="cont">
                <p><?=$v['forder_addtime']?>
				<?php if($v['forder_flag']==1):?>
				<span>
				  待付款
				</span>
				<?php elseif($v['forder_flag']==2):?>
				<span>
				  待发货
				</span>
				<?php else :?>
				<span>
				 已完成
				</span>
				<?php endif;?>
				</p>
                <?php foreach($v['goodslist'] AS $kk=>$vv):?>
                <div class="sp">
                    <img alt="产品图" src="<?php $image = explode('|',$vv['fgoods_images']);echo $image[0];?>" />
                    <p class="omit1"><?=$vv['fgoods_name']?></p>
                    <p>￥:<?=$vv['forderlist_totprice']/$vv['forderlist_tonnum']?></p>
                    <p>规格：<?=$vv['forderlist_spec']?><span><?=$vv['forderlist_tonnum']?>吨</span></p>
                </div>
                <?php endforeach;?>
                <div class="hj">
                    <!--<p>物流：￥<?=$v['forder_tpcost']?>元</p>-->
                    <p>共计<?=count($v['goodslist'])?>件商品，<span>合计￥<?=$v['forder_total']?>元(含物流)</span></p>
                </div>
                <?=$v['span_html']?>
                <div class="clear" style="height: 0.5rem;"></div>
            </div>  
            <?php endforeach;?>
            <?php else:?> 
            <div class="meiyouneirong" style="display:block;margin-top:10%;">
                <i><img src="__PUBLIC__/agcy/images/li_wdxx_img.png"/></i>
                <p>暂无订货信息</p>
            </div>
            <?php endif;?>
        </div>
        <div class="li_myxx_zt" id="li_myxx_zt" style="display:none" >
            <p>亲，到底了~</p> 
        </div>
        <div id="loadings" style="width:30px;height:30px;position:fixed;left:50%;top:50%; margin-left:-15px; margin-top:-15px; display:none;z-index:99999;">
            <img src="__PUBLIC__/agcy/images/5-130H2191536.gif">
        </div>
        <button  style="display:none" id="more" data='1' datatype="1" class="btn00">加载更多</button>
        <style>
            .li_myxx_zt{height: 30px; line-height: 30px; background:#f5f5f5;}
            .li_myxx_zt p{ text-align:center; font-size:12px; color:#cacaca;}
        </style>
        <script type="text/javascript" src="__PUBLIC__/agcy/js/screenSize.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/agcy/js/jquery-3.1.1.min.js" ></script>
        <script>

            $(function () {
                //页面滚动的时候绑定事件
                $(window).scroll(function () {
                    getData();
                });
            })

            function getData() {
                totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop()) + 1;
                //浏览器的高度加上滚动条的高度 （页面总高度）
                if ($(document).height() <= totalheight) {
                    //当文档的高度小于或者等于总的高度的时候，开始动态加载数据（当前文档的位置）
                    //加载
                    $("#loadings").fadeIn();
                    //根据条件获取对应的项目条数
                    getmore();//使用模板加载更多
                    //加载完毕          
                    $("#loadings").fadeOut();
                }
            }
            function getmore() {
                var page = parseInt($("#more").attr("data")) + 1;
                $('#more').attr("data", page);//重置当前页数  
                $.get("{:U('user/agcyorder',array('type'=>I('type')))}&p=" + page, function (data) {
                    if (data) {
                        $("#content").append(data);
                    } else {
                        $(".li_myxx_zt").show();
                    }
                })
            }
            function changecate(cat) {
                window.location.href = "{:U('user/agcyorder')}&type=" + cat
            }
        </script>
    </body>

</html>