<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改农业培训职位</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
    <link href="__PUBLIC__/validform/Validform.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/validform/Validform_v5.3.2.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
    <script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>
</head>
<style>
    .form-button .ke-inline-block.but{margin-top:0;}
    .form-button .ke-button-common{display:block;width:100%; height:100%; line-height:38px; background:none;}
    .form-button .ke-button-common.ke-button{color:#fff; font-size:16px;}
    .form-button .ke-upload-area.ke-form .ke-upload-file{display:block;width:100% !important; height:100%;     cursor: pointer;}
</style>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">三农服务</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">农业培训职位</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">修改农业培训职位</a></li>
        </ul>
    </div>
    <div class="min">
        <div class="form_box">
            <form name="myform" id="myform" action="{:U('atrain/edit',array('id' => $crop['id']))}" method="post">
                <div class="form-item">
                    <label class="form-label">职位名称</label>
                    <div class="form-text form-input-block">
                        <input name="info[name]" id="info[slp_title]" type="text" class="dfinput" datatype="*1-10" errormsg="职位名称字数在1~40位之间！" placeholder="请输入职位名称" maxlength="40" value="{$crop.name}" />
                        <i class="Validform_checktip"></i>
                    </div>
                </div> 
                <div class="form-item">
                    <div class="form-button form-input-block">
                        <input class="chaxun but" type="submit" value="提交"/>
                        <button class="but chongzhi" type="button" onclick="location.href='{:U('atrain/index')}'">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".right_min").height($(window).height());

        $('.skin-section input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('input').on('ifChecked', function(event){
            //alert($(this).val());
        });
    });
</script>
<script>
    $(function(){
        $("#myform").Validform({
            //tiptype:2
            tiptype:function(msg,o,cssctl){
                var objtip=o.obj.siblings(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
            }
        });
    });
</script>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K) {


        var uploadbutton = K.uploadbutton({
            button : K('#uploadButton')[0],
            fieldName : 'imgFile',
            url : '{:U('kindeditor/upload_json',array('dir'=>image))}',
            afterUpload : function(data) {
            if (data.error === 0) {
                var url = K.formatUrl(data.url, 'domain');
                K('#image').val(url);
                document.getElementById("image").style.backgroundColor = 'white';
                document.getElementById("tp1").innerHTML='通过信息验证！';
                document.getElementById("tp1").className='Validform_checktip Validform_right';
            } else {
                alert(data.message);
            }
        },
        afterError : function(str) {
            alert('自定义错误信息: ' + str);
        }
    });
        uploadbutton.fileBox.change(function(e) {
            uploadbutton.submit();
        });
    });

</script>
