<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>农业培训职位</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/switch-buttons.css">
</head>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">三农服务</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">农业培训职位</a></li>
        </ul>
    </div>
    <div class="min">
        <!--查询-->

        <div class="query">
            <form  name="seachform" id="seachform"  action="{:U('atrain/index')}"  method="post" class="form"  >
                <div class="form_input mg_trb">
                    <label class="text">职位名称</label>
                    <input type="text" name="info[name]" id="title" value="{$names}"  placeholder="职位名称"  maxlength="15"/>
                </div> 
                <div class="button mg_trb" onclick="location.href='{:U('atrain/index')}'">
                    <i class="fa fa-refresh ico"></i>
                    <input type="button" value="刷新" class="but chongzhi" />
                </div>

                <div class="button mg_trb chaxun">
                    <i class="fa fa-search ico"></i>
                    <input type="submit" value="查询" class="but " style="    position: absolute; background: none;z-index: 2;" />
                </div>
            </form>
        </div>
        <!--添加农业数字报-->
        <div class="tianjia">
            <a class="tianjia_but" href="{:U('atrain/add')}">
                <i class="fa fa-plus"></i>
                农业培训职位
            </a>
        </div>
        <div class="table_box">
            <table class="table" border="" cellspacing="" cellpadding="">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>职位名称</th> 
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="dgtpInfo" id="dgtp">
                    <tr>
                        <td>{$dgtp.id}</td> 
						<td>{$dgtp.name}</td> 
                        <td>
                            <a href="{:U('atrain/edit',array('id'=>$dgtp['id']))}" class="but chaxun">
                                <i class="fa fa-edit"></i>
                                编辑</a>
                            <a href="{:U('atrain/del',array('id'=>$dgtp['id']))}" onclick="{if(confirm('确认删除?')){return true;}return false;}" class="but chongzhi">
                                <i class="fa fa-trash-o"></i>
                                删除</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        {$pageshow}
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".right_min").height($(window).height());
    });
</script>
<