<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加政策解读</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
    <link href="__PUBLIC__/validform/Validform.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/validform/Validform_v5.3.2.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
    <script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>
</head>
<style>
    .form-button .ke-inline-block.but{margin-top:0;}
    .form-button .ke-button-common{display:block;width:100%; height:100%; line-height:38px; background:none;}
    .form-button .ke-button-common.ke-button{color:#fff; font-size:16px;}
    .form-button .ke-upload-area.ke-form .ke-upload-file{display:block;width:100% !important; height:100%;     cursor: pointer;}
</style>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">三农服务</a></li>
            <li> > </li>
            <li><a href="{:U('agriculture/policyinter')}">政策解读</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">添加政策解读</a></li>
        </ul>
    </div>
    <div class="min">
        <div class="form_box">
            <form name="myform" id="myform" action="{:U('agriculture/addpolicy')}" method="post" onsubmit="return check();">
                <div class="form-item">
                    <label class="form-label">政策解读名称</label>
                    <div class="form-text form-input-block">
                        <input name="pi_title" id="pi_title" type="text" class="dfinput" datatype="*" errormsg="政策解读分类名称不能为空！" maxlength="30"  ajaxurl="{:U('agriculture/existplotitle')}" />
                        <i class="Validform_checktip"></i>
                    </div>
                </div>

                <div class="form-item">
                    <label class="form-label">政策解读分类</label>
                    <div class="form-select form-input-block">
                        <select name="pi_cid" class="dfinput" datatype="*" errormsg="请选择政策解读分类!" >
                            <option value="">--请选择政策解读分类--</option>
                            <volist name="policyClass" id="data" >
                                <option value="{$key}">{$data}</option>
                            </volist>
                        </select>
                        <i class="Validform_checktip"></i>
                    </div>
                </div>
                 
                <div class="form-item">
                            <label class="form-label">图片</label>
                            <div class="form-text form-input-inline w40">
                                <input type="text"  name="pi_image" id="image"   readonly  value=""  datatype="*" errormsg="请上传图片"/>
                            </div>
                            <div class="form-button form-input-inline">
                                <input class="but shenhe mg_t0" type="button" id="uploadButton"  class="chaxun but" value="上传" />
                                <i class="Validform_checktip"></i>
                                <input name="image" id="imagemore" type="hidden" class="dfinput" value="" readonly />
                            </div>
                           <div class="form-text form-input-block w50"><i style="font-size:12px;color:red;">第一张是封面图（图片大小220x230） ， 第二张开始是详细图（图片大小720x460）</i></div>
                            <div class="form-text form-input-block w50">
                                <ul class="toollist_pic c" id="toollist_pic">

                                </ul>
                            </div>
                </div>
                <div class="form-item">
                    <label class="form-label">视频url地址</label>
                    <div class="form-text form-input-block">
                        <input name="pi_url" id="pi_url" type="url" class="dfinput" />
                        <span style="font-size: 12px;color: red;">（注：url为视频播放的地址。）</span>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label">政策解读内容</label>
                    <div class="form-textarea form-input-block">
                        <textarea name="pi_content" datatype="*" errormsg="请上传图片" id="content"  ></textarea>
                        <i class="Validform_checktip"></i>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label">政策解读状态</label>
                    <div class="form-radio form-input-block">
                        <div class="skin-section">
                            <ul>
                                <li>
                                    <input type="radio" name="pi_isable" value="1"  checked >
                                    <span>启用</span>
                                </li>
                                <li>
                                    <input  type="radio" name="pi_isable" value="2" >
                                    <span>禁用</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <div class="form-button form-input-block">
                        <input class="chaxun but" type="submit" id="submit" value="提交"/>
                        <button class="but chongzhi" type="button" onclick="location.href='{:U('agriculture/policyinter')}'">返回</button>
                    </div>
                </div>-
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".right_min").height($(window).height());

        $('.skin-section input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('input').on('ifChecked', function(event){
            //alert($(this).val());
        });
    });
</script>
<script>
    $(function(){
        $("#myform").Validform({
            //tiptype:2
            tiptype:function(msg,o,cssctl){
                var objtip=o.obj.siblings(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
            }
        });
    });
    
    
</script>
<script type="text/javascript" src="__PUBLIC__/admin/js/stringOperate.js"></script>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[id="content"]', {
            uploadJson: '{:U(\'kindeditor/upload_json\',array(\'dir\'=>image))}',
            fileManagerJson: '{:U(\'kindeditor/file_manager_json\')}',
            allowFileManager: true,
            urlType: 'domain',
            afterCreate: function () {
                this.sync();
            },
            afterBlur: function () {
                this.sync();
            }
        });

        //多图
        var uploadbutton = K.uploadbutton({
            button: K('#uploadButton')[0],
            fieldName: 'imgFile',
            url: '{:U(\'kindeditor/upload_json\',array(\'dir\'=>image))}',
            afterUpload: function (data) {
                if (data.error === 0) {
                    var url = K.formatUrl(data.url, 'domain');
                    K('#imagemore').val(url);
                    add_album_img(url);
                } else {
                    alert(data.message);
                }
            },
            afterError: function (str) {
                alert('自定义错误信息: ' + str);
            }
        });
        uploadbutton.fileBox.change(function (e) {
            uploadbutton.submit();
        });
    });



    //图片插件
    function add_album_img(imgurl) {

        var val = StringOperate.add($("#image").val(), imgurl);
        $("#image").val(val);
        $("#toollist_pic").append("<li onclick=\"del_album_img(\'" + imgurl + "\',this);\"><a><img src='" + imgurl + "'><i class=\"fa fa-times-circle\"></i></a></li>");
        $('#imagemore').val("");
    }
    function del_album_img(imgurl, obj) {
        var val = StringOperate.remove($("#image").val(), imgurl);
        $("#image").val(val);
        $(obj).remove();//删除元素
    }

</script>

<style>
    /*多图上传样式*/
    .toollist_pic{clear: both;width: 100%;text-align: center;margin-right: 10px; margin-top:10px;}
    .toollist_pic li{float: left;list-style:none; clear: initial; width:100px;height:100px; overflow:hidden;position: relative;}
    .toollist_pic li a{display:block; width:100%; height:100%;}
    .toollist_pic li img{width:100px;height:100px;}
    .toollist_pic li i{display:block; position:absolute; top:0; right:0; width:20px; height:20px; background:#2cb184; z-index:888; margin:0;}
    .toollist_pic li .fa-times-circle{ font-size:20px; color:#fff;}
    .span{display:inline-block; height:34px; line-height:34px;color: #ff0000;font-size:1.8rem;vertical-align: middle;}
    .form-button .ke-inline-block.but{margin-top:0;}
    .form-button .ke-button-common{display:block;width:100%; height:100%; line-height:38px; background:none;}
    .form-button .ke-button-common.ke-button{color:#fff; font-size:16px;}
    .form-button .ke-upload-area.ke-form .ke-upload-file{display:block;width:100% !important; height:100%;     cursor: pointer;}
</style>