<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>农作物</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">三农服务</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">农作物</a></li>
        </ul>
    </div>
    <div class="min">
        <!--查询-->

        <div class="query">
            <form  name="seachform" id="seachform"  action="{:U('agriculture/crop')}"  method="post" class="form"  >
                <div class="form_input mg_trb">
                    <label class="text">快速检索</label>
                    <input type="text" name="info[cp_title]" id="cp_title" value="{$cp_title}"  placeholder="请输入农作物名称"  maxlength="15"/>
                </div>
                <div class="select mg_trb">
                    <span class="text">农作物分类</span>
                    <select name="info[cp_cid]" style="width:170px;">
                        <option value="">--请选择农作物分类--</option>
                        <volist name="cpClass" id="data">
                            <option value="{$key}" <if condition="$key eq $cp_cid ">selected</if>>{$data}</option>
                        </volist>
                    </select>
                </div>
                <div class="select mg_trb">
                    <span class="text">分类状态</span>
                    <select name="info[cp_isable]">
                        <option value="">--请选择分类状态--</option>
                        <volist name="cpIsable" id="data">
                            <option value="{$key}" <if condition="$key eq $cp_isable ">selected</if>>{$data}</option>
                        </volist>
                    </select>
                </div>
                <div class="button mg_trb" onclick="location.href='{:U('agriculture/crop')}'">
                    <i class="fa fa-refresh ico"></i>
                    <input type="button" value="刷新" class="but chongzhi" />
                </div>

                <div class="button mg_trb chaxun">
                    <i class="fa fa-search ico"></i>
                    <input type="submit" value="查询" class="but " style="    position: absolute; background: none;z-index: 2;" />
                </div>
            </form>
        </div>
        <!--添加农作物-->
        <div class="tianjia">
            <a class="tianjia_but" href="{:U('agriculture/addcrop')}">
                <i class="fa fa-plus"></i>
                添加农作物
            </a>
        </div>
        <div class="table_box">
            <table class="table" border="" cellspacing="" cellpadding="">
                <thead>
                <tr>
                    <th>农作物编号</th>
                    <th>农作物分类名称</th>
                    <th>农作物名称</th>
                    <th>农作物图片</th>
                    <th>农作物状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="cropInfo" id="crop">
                    <tr>
                        <td>{$crop.cp_id}
                        <td>{$cpClass[$crop['cp_cid']]}</td>
                        <td>{$crop.cp_title}</td>
                        <td style="width:  200px;"><img style="height: 50px;width:80px;"  src="{$crop.cp_image}"/></td>
                        <td
                        <if condition="$crop['cp_isable'] eq 1">
                            style="color:green"
                            <else/>
                            style="color:red"
                        </if>
                        >{$cpIsable[$crop['cp_isable']]}</td>
                        <td>
                            <a href="{:U('agriculture/editcrop',array('cp_id'=>$crop['cp_id']))}" class="but chaxun">
                                <i class="fa fa-edit"></i>
                                编辑</a>
                            <a href="{:U('agriculture/delcrop',array('cp_id'=>$crop['cp_id']))}" onclick="{if(confirm('确认删除?')){return true;}return false;}" class="but chongzhi">
                                <i class="fa fa-trash-o"></i>
                                删除</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        {$pageshow}
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".right_min").height($(window).height());
    });
</script>
