<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>消息记录</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">农户管理</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">消息记录</a></li>
        </ul>
    </div>
    <div class="min">
        <!--查询-->

        <div class="query">
            <form  name="seachform" id="seachform"  action="{:U('message/index')}"  method="post" class="form"  >
                <div class="form_input mg_trb">
                    <label class="text">消息标题</label>
                    <input type="text" name="info[msg_title]" id="msg_title" value="{$msg_title}"  placeholder="请输入消息标题"  maxlength="20"/>
                </div>
				<div class="form_input mg_trb">
                    <label class="text">农户姓名</label>
                    <input type="text" name="info[realname]" id="realname" value="{$realname}"  placeholder="请输入农户姓名"  maxlength="20"/>
                </div>
                <div class="select mg_trb">
                    <span class="text">消息状态</span>
                    <select name="info[msg_flag]">
                        <option value="">--请选择状态--</option>
                        <volist name="msgFlag" id="data">
                            <option value="{$key}" <if condition="$key eq $msg_flag ">selected</if>>{$data}</option>
                        </volist>
                    </select>
                </div>
				<div class="form_input mg_trb form-date">
					<label class="text">添加时间</label>
					<input type="text" class="laydate-icon layer-date" name="info[starttime]"  value="{$starttime}"  id="start" placeholder="开始时间" readonly/>
					<span>--</span>
					<input type="text" class="laydate-icon layer-date" name="info[endtime]"  value="{$endtime}"  id="end" placeholder="结束时间" readonly/>
				</div>
						
                <div class="button mg_trb" onclick="location.href='{:U('message/index')}'">
                    <i class="fa fa-refresh ico"></i>
                    <input type="button" value="刷新" class="but chongzhi" />
                </div>

                <div class="button mg_trb chaxun">
							<i class="fa fa-search ico"></i>
							<input type="submit" value="查询" class="but " style="    position: absolute; background: none;z-index: 2;" />
						</div>
            </form>
        </div>
        <div class="table_box">
            <table class="table" border="" cellspacing="" cellpadding="">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>消息标题</th>
                    <th>农户姓名</th>
					<th>消息内容</th>
					<th>消息状态</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="listinfo" id="message">
                    <tr>
                        <td>{$message.msg_id}</td>
                        <td>{$message.msg_title}</td>
                        <td>{$message.realname}</td>
                        <td>
						<?php echo mb_substr($message['message'], 0,20,'utf-8');
						if(mb_strlen($message['message'],'utf-8')>20){echo '...';}?>
						</td>
						<td>
							<if condition="$message['msg_flag'] eq 1">
								<font style="color:red;">未读</font>
								<else/>
								<font style="color:green;">已读</font>
							</if>	
						</td>
                        <td><?php echo date('Y-m-d H:i:s',$message['msg_addtime']);?></td>
                        <td>
                            <a href="{:U('message/del',array('msg_id'=>$message['msg_id']))}" onclick="{if(confirm('确认删除?')){return true;}return false;}" class="but chongzhi">
                                <i class="fa fa-trash-o"></i>
                                删除
							</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        {$pageshow}
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".right_min").height($(window).height());
    });
</script>
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<script>
    //laydate({elem: "#hello", event: "focus"});
    var start = {
        elem: "#start",
        format: "YYYY-MM-DD",
        min: "2000-06-16",
        max: "2099-06-16",
        istime: false,
        istoday: false,
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end = {
        elem: "#end",
        format: "YYYY-MM-DD",
        min: "2000-06-16",
        max: "2099-06-16",
        istime: false,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }
    };
    laydate(start);
    laydate(end);
</script>
<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
		$('input, textarea').placeholder();
	});
</script>

