<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>专家详情</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
	<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
	<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
	<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
    <link rel="stylesheet" href="__PUBLIC__/tupian/css/lightbox.css">
</head>
<body >
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="javascript:void(0);">查看详情({$expert.expert_realname})</a></li>
        </ul>
    </div>
    <div class="min">
        <div class="message">
			<div class="message-block message-border-t">
				<h4 class="message-left_block">专家详情</h4>
			</div>
			<div class="table_box">
				<table class="table" border="" cellspacing="" cellpadding="">
                    <tr>
                        <th style="font-weight:bold;width:150px;">专家登录名</th>
                        <td>{$expert.expert_username}</td>
                        <th style="font-weight:bold;width:150px;">头像</th>
                        <td>
                            <a class="example-image-link" href="{$expert.expert_avator}" data-lightbox="example-1">
                                <img class="example-image" style="width:30px;height:30px;"src="{$expert.expert_avator}">
                            </a>    
                        </td>
					</tr>
					<tr>
                        <th style="font-weight:bold">真实姓名</th>
                        <td>{$expert.expert_realname}</td>
                        <th style="font-weight:bold">手机号码</th>
                        <td>{$expert.expert_phone}</td>
					</tr>
                    
					<tr>
						<th style="font-weight:bold">专家状态</th>
                        <td>{$expert_states[$expert['expert_state']]}</td>
                        <th style="font-weight:bold">职称证书</th>
						<td>
                            <volist name="image" id="image">
                                <a class="example-image-link" href="{$image}" data-lightbox="example-1" >
                                    <img class="example-image" style="width:50px;height:50px;" src="{$image}"/>
                                </a>
                            </volist>
                        </td>
						<!--<th style="font-weight:bold">认证状态</th>-->
						<!--<td>{$expert_isapproves[$expert['expert_isapprove']]}</td>-->
					</tr>
					
					 <tr>
                        <th style="font-weight:bold">昵称</th>
                        <td>{$expert.expert_nickname}</td>
                        <th style="font-weight:bold">职称</th>
                        <td>{$expert_pessionals[$expert['expert_pessional']]}</td>
                    </tr>
                    <tr>
                        <th style="font-weight:bold">工作单位</th>
                        <td>{$expert.expert_company}</td>
                        <!--<th style="font-weight:bold">奖励金</th>
                        <td>{$expert.expert_money}</td>-->
                        <th style="font-weight:bold">活跃值</th>
                        <td>{$expert.expert_activevalue}</td>
						
                    </tr>
					<tr>
                        <th style="font-weight:bold">注册时间</th>
						<td >{$expert.expert_addtime|date='Y-m-d H:i:s',###}</td>
                        <th style="font-weight:bold">擅长</th>
                        <td>{$expert.expert_skil}</td>
                    </tr>
					<tr>
                        <th style="font-weight:bold">简介</th>
                        <td colspan="3">{$expert.expert_brief}</td>
						
                    </tr>
					
				</table>
			</div>
        </div>
    </div>
</div>
</body>
</html>
<script src="__PUBLIC__/tupian/js/lightbox-plus-jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        $('.form-checkbox input,.form-radio input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            })
        $('input').on('ifChecked', function(event){
            //alert($(this).val());
        });
        $(".checkbox-title dd i").click(function(){
            $(this).toggleClass("fa-flip-vertical");
            $(this).parents().siblings(".skin-section").slideToggle(500);
        });
    });
</script>





