<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=ff1329a0011c8ef56f6efb30f3ca9b49"></script>
    <script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
    <link href="__PUBLIC__/validform/Validform.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/validform/Validform_v5.3.2.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
</head>
<style>
    .form-button .ke-inline-block.but{margin-top:0;}
    .form-button .ke-button-common{display:block;width:100%; height:100%; line-height:38px; background:none;}
    .form-button .ke-button-common.ke-button{color:#fff; font-size:16px;}
    .form-button .ke-upload-area.ke-form .ke-upload-file{display:block;width:100% !important; height:100%;     cursor: pointer;}
</style>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">系统设置</a></li>
            <li> > </li>
            <li><a href="{:U('township/index')}">乡镇列表</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">添加乡镇</a></li>
        </ul>
    </div>
    <div class="min">
        <div class="form_box">
            <form name="myform" id="myform" action="{:U('township/add')}" method="post">
                <div class="form-item">
                    <label class="form-label">省份名称</label>
                    <div class="form-select form-input-block">
                        <select name="p_id" id="p_id" class="dfinput" datatype="*" errormsg="请选择省份名称!"  onChange = "geolocation_areacode(this.options[this.selectedIndex].text,'p')">
                            <option value="">--请选择省份名称--</option>
                            <volist name="province" id="data" >
                                <option value="{$key}">{$data}</option>
                            </volist>
                        </select>
                        <i class="Validform_checktip"></i>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label">城市名称</label>
                    <div class="form-select form-input-block">
                        <select name="c_id" class="dfinput" id="c_id" datatype="*" errormsg="请选择城市名称!"  onChange = "geolocation_areacode(this.options[this.selectedIndex].text,'c')">
                            <option value="">--请选择城市--</option>
                            <volist name="city" id="data" >
                                <option value="{$key}">{$data}</option>
                            </volist>
                        </select>
                        <i class="Validform_checktip"></i>
                    </div>
                </div>
				 <div class="form-item">
                    <label class="form-label">区县名称</label>
                    <div class="form-select form-input-block">
                        <select name="a_id" class="dfinput" id="a_id" datatype="*" errormsg="请选择区县名称!"  onChange = "geolocation_areacode(this.options[this.selectedIndex].text,'a')">
                            <option value="">--请选择区县--</option>
                            <volist name="area" id="data" >
                                <option value="{$key}">{$data}</option>
                            </volist>
                        </select>
                        <i class="Validform_checktip"></i>
                    </div>
                </div>
                 <div class="form-item">
                    <label class="form-label">乡镇名称</label>
                    <div class="form-text form-input-block">
                        <input name="v_name" id="v_name" type="text" class="dfinput"  datatype="check_a_name" errormsg="乡镇名称字数在2~20位之间！" maxlength="20" />
                        <i class="Validform_checktip"></i>
                    </div>
					<!--<div class="form-button form-input-inline">
						<input type='button' id='btn' value='搜索' class="but shenhe mg_t0" >
						<div id="result" style="width:345px; height:300px;position: absolute;top:32px;left: 200px; z-index:9999"></div>
					</div>-->
                </div>
				<!--<div class="form-item">
					<label class="form-label">区县位置</label>
					<div class="form-text form-input-block"> 
						<div id="container" style="width:500px; height:300px"></div> 
					</div>
				</div>
				<div class="form-item"   style="position: relative;">
					<label class="form-label">店铺地址</label>
				   <div class="form-text form-input-inline w50">
						<input type="text" name="info[shop_address]" placeholder="" id="shop_address" maxlength="60" />
					</div>
					<div class="form-button form-input-inline">
						<input type='button' id='btn' value='搜索' class="but shenhe mg_t0" >
						<div id="result" style="width:345px; height:300px;position: absolute;top:32px;left: 200px; z-index:9999"></div>
						<i class="shop_address" style="display:none;color:red;">店铺地址不能为空</i>
					</div>
				</div>
				<div class="form-item">
					<label class="form-label">区县坐标</label>
					<div class="form-text form-input-block">
						<input readonly type="text" name="location" placeholder="" id="location" maxlength="60" datatype="*" errormsg="请选择区县坐标!" />
						<i class="Validform_checktip"></i>
					</div>
				</div> -->
                <div class="form-item">
                    <div class="form-button form-input-block">
                        <input class="chaxun but" type="submit" value="提交"/>
						<a  href="{:U('township/index')}">
                                    <button class="but chongzhi" type="button">返回</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".right_min").height($(window).height());

        $('.skin-section input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('input').on('ifChecked', function(event){
            //alert($(this).val());
        });
    });
</script>
<script>
    $(function(){
        $("#myform").Validform({
            //tiptype:2
            tiptype:function(msg,o,cssctl){
                var objtip=o.obj.siblings(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
            },
			datatype:{	//传入自定义datatype类型，可以是正则，也可以是函数（函数内会传入一个参数）;
				"check_a_name":function(gets,obj,curform,datatype){
					/*
					  参数gets是获取到的表单元素值，
					  obj为当前表单元素，
					  curform为当前验证的表单，
					  datatype为内置的一些正则表达式的引用。
					*/
					$.ajaxSetup({ 
						async: false 
					}); 			
					var p_id=$("#p_id").val();  //省份名称id
					var c_id=$("#c_id").val();  //城市名称id
					var str="{:U('department/existnewtype2')}&p_id="+p_id+"&c_id="+c_id+"&param="+gets;
					var flag=false;
					var ajaxdata="";
					$.ajax({  
						type:'get',
						url:str,
						cache:false,
						dataType:'json',
						success:function(result){
							if(result.status==="y"){
								ajaxdata=result.info;
								flag=true;
							}else if(result.status==="n"){
								ajaxdata=result.info;
								flag=false;
							}							
						},
						error:function() { 
							ajaxdata="数据异常，请重新验证";
							flag=false;
						},
						async:false
					});
					if(!flag)return ajaxdata;
					return true;
				}
			}
        });
    });
</script>
<script>
    $("#p_id").change(function(){
        var p_id=$("#p_id").val();
        $.getJSON("{:U('township/getCityName')}&p_id="+p_id,function(result){
            var data=result.data;
            $("#c_id").empty();
            $("#c_id").append("<option value=''>--请选择城市--</option>");
            $.each(data, function(i, v){
                $("#c_id").append("<option value='"+v['c_id']+"'>"+v['c_name']+"</option>");
            });
        });
    });
	$("#c_id").change(function(){
		$("#a_id").empty();
        $("#a_id").append("<option value=''>--请选择区县--</option>");
        var c_id=$("#c_id").val();
        $.getJSON("{:U('township/getAreaName')}&c_id="+c_id,function(result){
            var data=result.data;
            $("#a_id").empty();
            $("#a_id").append("<option value=''>--请选择区县--</option>");
            $.each(data, function(i, v){
                $("#a_id").append("<option value='"+v['a_id']+"'>"+v['a_name']+"</option>");
            });
        });
    });
</script>
<script>
    //实例化地图 控制地图显示
    var map = new AMap.Map("container", {
        resizeEnable: true,
        zoom: 11
    });
    //定位
    map.plugin('AMap.Geolocation', function () {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true, //是否使用高精度定位，默认:true
            timeout: 3000, //超过10秒后停止定位，默认：无穷大
            buttonOffset: new AMap.Pixel(10, 20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: false, //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            buttonPosition: 'RB'
        });
        map.addControl(geolocation);
        //点击自动填写社区地址和社区经纬度
        geolocation.getCurrentPosition(function (status, result) {
            if (status == 'complete') {
                $("#a_name").val('')
            } else {
                $("#a_name").val('')
            }
        });
    });
    //经纬度编码地址
    AMap.plugin("AMap.Geocoder", function () {
        var geocoder = new AMap.Geocoder({
            city: '029' //城市默认：“全国”
        })
        
        map.on('click', function (e) {
            $("#location").val(e.lnglat.getLng() + ',' + e.lnglat.getLat());
			map.clearMap();
			var marker = new AMap.Marker({
				map: map,
				bubble: true
			})
            marker.setPosition(e.lnglat);
            geocoder.getAddress(e.lnglat, function (status, result) {
                if (status == 'complete') {
                   // $("#a_name").val(result.regeocode.formattedAddress)
                } else {
                    //$("#a_name").val('')
                    //alert('找不到地址，请手动填写');
                }
            })
        })
    })
    //搜索
    AMap.plugin(['AMap.Autocomplete', 'AMap.PlaceSearch'], function () {    //回调函数  
        //TODO: 使用autocomplete对象调用相关功能
        var autoOptions = {
            city: "", //城市，默认全国
            input: "a_name"//使用联想输入的input的id
        };
        autocomplete = new AMap.Autocomplete(autoOptions);
        //构造地点查询类
        var placeSearch = new AMap.PlaceSearch({
            pageSize: 5,
            pageIndex: 1,
            city: "029", //城市
            map: map,
            panel: "result"
        });

        AMap.event.addListener(autocomplete, "select", function (obj) {
            //TODO 针对选中的poi实现自己的功能
            placeSearch.search(obj.poi.name, function (status, result) {
            });
        });
        $("#btn").on('click', function () {
            $(".amap-sug-result").hide();
            placeSearch.search($("#a_name").val(), function (status, result) {
                $('#result').show();
                console.log(result);
            });
        })
        //隐藏
        $(document).on('click', function () {
            $('#result').hide();
            $('#result,.amap-sug-result,#container,#btn').on('click', function (e) {
                e.stopPropagation();
            })
        })
        $("#a_name").on('blur', function () {
            $('#result').show();
        })
    })
	function geolocation_areacode(str,m) {
		if(str=="0")return;
		map.setCity(str);
	}
</script>
<style> /*去掉高德地图LOGO*/
    .amap-logo {
        right: 0 !important;
        left: auto !important;
        display: none;
    }

    .amap-copyright {
        right: 70px !important;
        left: auto !important;
    }  
</style>