<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>物流公司</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">经销商管理</a></li>
					<li> > </li>
					<li><a href="{:U('logistics/logistics')}">物流公司</a></li>
				</ul>
			</div>
			<div class="min">
				<div class="tianjia">
					<a class="tianjia_but" href="{:U('logistics/addlogistics')}">
						<i class="fa fa-plus"></i>
						添加物流公司
					</a>
				</div>
				<div class="table_box">
					<table class="table" border="" cellspacing="" cellpadding="">
						<colgroup>
							<col width="100">
							<col width="100">
							<col width="100">
							<col>
						</colgroup>                        
						<thead>      
							<tr>
                                <th>物流公司名称</th>
                                <th>物流公司电话</th>
                                <th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="logistics" id="logistics">
							<tr>
								<td>{$logistics.logistics_name}</td>
								<td>{$logistics.logistics_phone}</td>
								<td>
								<a href="{:U('logistics/editlogistics',array('logistics_id'=>$logistics['logistics_id']))}" class="but chaxun">
								<i class="fa fa-edit"></i>编辑</a> 
								<a href="{:U('logistics/dellogistics',array('logistics_id'=>$logistics['logistics_id']))}" onclick="{
                                                if (confirm('确认删除?')) {
                                                    return true;
                                                }
                                                return false;
                                            }"  class="but chongzhi">
                                        <i class="fa fa-trash-o"></i>
                                        删除
                                    </a>  
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>				
				{$pageshow}
			</div>
		</div>
	</body>
</html>

<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/layer/layer.js"></script> 
<script type="text/javascript">
	$(function(){
		$('input, textarea').placeholder();
	});
</script>