<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻管理</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/switch-buttons.css">
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">公司展示</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">新闻列表</a></li>
				</ul>
			</div>
			<div class="min">
				<!--查询-->
				<div class="query">
					<form name="seachform" id="seachform" action="{:U('newlist/index')}"  method="post" class="form">
						<div class="form_input mg_trb">
							<label class="text">快速检索</label>
							<input type="text" name="info[keyword]" id="keyword" value="{$keyword}" placeholder="请输入新闻标题" maxlength="15"/>
						</div>
						<div class="select mg_trb">
							<span class="text">新闻类型</span>
							<select  id="newtype" name="info[newtype]">
								<option value="">请选择类型</option>
								<volist name="newtype" id="data">
								<option value="{$key}" <if condition="$key eq $newtype_">selected</if>>{$data}</option>
								</volist>
							</select>
						</div>
						<div class="select mg_trb">
							<span class="text">状态</span>
							<select  id="isshow" name="info[isshow]">
								<option value="">请选择状态</option>
								<volist name="isshow" id="data">
								<option value="{$key}" <if condition="$key eq $isshow_ ">selected</if>>{$data}</option>
								</volist>
							</select>
						</div>
						<div class="button mg_trb" onclick="location.href='{:U('newlist/index')}'">
							<i class="fa fa-refresh ico"></i>
							<input type="button" value="刷新" class="but chongzhi" />
						</div>
						<div class="button mg_trb chaxun">
							<i class="fa fa-search ico"></i>
							<input type="submit" value="查询" class="but " style="    position: absolute; background: none;z-index: 2;" />
						</div>
					</form>
				</div>
				<div class="tianjia">
					<a class="tianjia_but" href="{:U('newlist/addnewlist')}">
						<i class="fa fa-plus"></i>
						添加新闻
					</a>
				</div>
				<div class="table_box">
					<table class="table" border="" cellspacing="" cellpadding="">
						<thead>
							<tr>
								<th>编号</th>
								<th>新闻标题</th>
								<th>新闻类型</th>
								<th>新闻来源</th>
								<th>状态</th> 
								<th>时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="newlist" id="content">
							<tr>
								<td>{$content.new_id}</td>
								<td>
									<?php echo mb_substr($content['new_title'], 0,20,'utf-8');
									if(mb_strlen($content['new_title'],'utf-8')>20){echo '...';}?>
								</td>
								<td>{$newtype[$content['new_type']]}</td>
								<td>
									{$content.new_source}
								</td>
								<td>
									<label class="switch-btn circle-style" style="margin: 0 auto;">
										<input class="checked-switch" type="checkbox" onchange="checkedswitchs(this,{$content.new_id},'new_isshow')"
										<if condition="$content['new_isshow'] eq 1">checked</if> />
										<span class="text-switch" data-yes="启用" data-no="禁用"></span> 
										<span class="toggle-btn"></span> 
									</label>
								</td>				
								<td>{$content.new_time|date="Y-m-d H:i:s",###}</td>
								<td>
									<a  href="{:U('newlist/editnewlist',array('id'=>$content['new_id']))}"  class="but chaxun">
										<i class="fa fa-edit"></i>
										编辑
									</a>	
									<a href="{:U('newlist/delnewlist',array('id'=>$content['new_id']))}" onclick="{if(confirm('确认删除?')){return true;}return false;}"   class="but chongzhi">
										<i class="fa fa-trash-o"></i>
										删除
									</a>
								</td>
							</tr> 
							</volist>				
						</tbody>
					</table>
				</div>
				{$pageshow}
			</div>
		</div>
	</body>
</html>
<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
		$('input, textarea').placeholder();
	});
</script>

<script type="text/javascript">
	$(function(){
		$(".right_min").height($(window).height());
	});
	//显示开关1显示；2隐藏
	function checkedswitchs(obj,id,field){ 
		if($(obj).is(':checked')){	//true
			console.log("显示"+id);
			$.getJSON("{:U('newlist/ajax_on')}&id="+id+"&field="+field,function(){
			});
		}else{	//false
			console.log("隐藏"+id);
			$.getJSON("{:U('newlist/ajax_off')}&id="+id+"&field="+field,function(){
			});
			
		}
	}
</script>
