<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
		<link href="__PUBLIC__/validform/Validform.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="__PUBLIC__/validform/Validform_v5.3.2.js"></script>
	</head>
	<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">系统设置</a></li>
					<li> > </li>
					<li><a href="{:U('adminmenu/index')}">菜单列表</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">修改菜单</a></li>
				</ul>
			</div>
			<div class="min">
				<div class="form_box">
						<form name="myform" id="myform" action="{:U('adminmenu/editmenuinfo',array('menu_id'=>$adminmenu['menu_id']))}" method="post">
						<div class="form-item">
							<label class="form-label">菜单名</label>
							<div class="form-text form-input-block">
								<input type="text"name="info[menu_name]" id="menu_name" type="text" class="dfinput" datatype="*2-30" errormsg="菜单名范围在2~30位之间！" maxlength="30" value="{$adminmenu.menu_name}"/>
								<i class="Validform_checktip"></i>
							</div>
						</div>
						<div class="form-item">
							<label class="form-label">菜单父节点</label>
							<div class="form-text form-input-block">
								<input type="text" name="menu_father_title" id="menu_father_title" type="text" class="dfinput" datatype="s2-30" errormsg="菜单父节点范围在2~30位之间！" maxlength="30" value="{$father_menuinfo.menu_name}" readonly  />
								<i class="Validform_checktip"></i>
								<input name="info[menu_fatherid]" id="menu_fatherid" type="hidden" class="dfinput" datatype="/^[1-9]\d*|0$/" errormsg="菜单父节点范围在1~5位之间！" maxlength="5" value="{$father_menuinfo.menu_id}" />
							</div>
						</div>
						<div class="form-item">
							<label class="form-label">菜单类型</label>
							<div class="form-select form-input-block">
								<select id="menu_type" name="info[menu_type]" datatype="*" errormsg="菜单类型不能为空！">
									<option value="1" <if condition="$adminmenu['menu_type'] eq 1">selected</if>>菜单</option>
									<option value="2" <if condition="$adminmenu['menu_type'] eq 2">selected</if>>操作</option>
								</select>
								<i class="Validform_checktip"></i>
							</div>
						</div>
						
						<div class="form-item">
							<label class="form-label">控制器</label>
							<div class="form-text form-input-block">
								<input name="info[menu_controller]" id="menu_controller" type="text" class="dfinput" datatype="s2-20" errormsg="控制器范围在2~20位之间！" maxlength="20" value="{$adminmenu.controller}"  /><i class="Validform_checktip"></i>
							</div>
						</div>
						<div class="form-item">
							<label class="form-label">方法</label>
							<div class="form-text form-input-block">
								<input name="info[menu_action]" id="menu_action" type="text" class="dfinput" datatype="s2-20" errormsg="方法范围在2~20位之间！"maxlength="20" value="{$adminmenu.action}"  /><i class="Validform_checktip"></i>
							</div>
						</div>
						<div class="form-item">
							<label class="form-label">菜单图标</label>
							<div class="form-text form-input-block">
								<input name="info[menu_icon]" id="menu_icon" type="text" class="dfinput" datatype="*2-20" errormsg="菜单图标范围在2~20位之间！" maxlength="20" value="{$adminmenu.menu_icon}"  /><i class="Validform_checktip"></i>
							</div>
						</div>
						<div class="form-item">
							<label class="form-label">排序</label>
							<div class="form-text form-input-block">
								<input name="info[sort]" id="sort" type="text" class="dfinput" datatype="/^[1-9]\d*|0$/" errormsg="排序范围在1~5位之间！"  maxlength="5" value="{$adminmenu.sort}"  /><i class="Validform_checktip"></i>
							</div>
						</div>
						
						<div class="form-item">
							<div class="form-button form-input-block">
								<input class="chaxun but" type="submit" value="提交"/>
								<button class="but chongzhi" type="button" onclick="location.href='{:U('adminmenu/index')}'">返回</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

<script type="text/javascript">
	$(function(){
		$(".right_min").height($(window).height());
		
		$('.skin-section input').iCheck({
			checkboxClass: 'icheckbox_square-green',
			radioClass: 'iradio_square-green',
		});
		$('input').on('ifChecked', function(event){
		  alert($(this).val());
		});
	});
</script>
	<script>
	$(function(){
		$("#myform").Validform({
			//tiptype:2
			tiptype:function(msg,o,cssctl){
				var objtip=o.obj.siblings(".Validform_checktip");
				cssctl(objtip,o.type);
				objtip.text(msg);
			}
		});
	}); 
	</script>