<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>管理员管理</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">管理员设置</a></li>
					<li> > </li>
					<li><a href="{:U('admininfo/index')}">管理员管理</a></li>
				</ul>
			</div>
			<div class="min">
				<!--查询-->
				<div class="query">
					<form  name="seachform" id="seachform"  action="{:U('admininfo/index')}"  method="post" class="form"  onsubmit="return checkkwd()">
						<div class="form_input mg_trb">
							<label class="text">快速检索</label>
							<input type="text" name="info[keyword]" id="keyword" value="{$keyword}"  placeholder="请输入用户姓名或手机号"  maxlength="11"/>
						</div>
						<div class="select mg_trb">
							<span class="text">状态</span>
							<select name="info[isable]">
								<option value="">--请选择状态--</option>
								<volist name="admin_isable" id="data">
								<option value="{$key}" <if condition="$key eq $isable ">selected</if>>{$data}</option>
								</volist>
							</select>
						</div>
						<div class="button mg_trb" onclick="location.href='{:U('admininfo/index')}'">
							<i class="fa fa-refresh ico"></i>
							<input type="button" value="重置" class="but chongzhi" />
						</div>
						
						<div class="button mg_trb chaxun">
							<i class="fa fa-search ico"></i>
							<input type="submit" value="查询" class="but"  style="    position: absolute; background: none;z-index: 2;"/>
						</div>
					</form>
				</div>
				<!--添加成员-->
				<div class="tianjia">
					<a class="tianjia_but" href="{:U('admininfo/addadmin')}">
						<i class="fa fa-plus"></i>
						添加管理员
					</a>
				</div>
				<div class="table_box">
					<table class="table" border="" cellspacing="" cellpadding="">
						<colgroup>
							<col width="80">
							<col width="100">
							<col width="100">
							<col width="100">
							<col width="100">
							<col width="100">
							<col width="200">
							<col>
						</colgroup>
						<thead>
							<tr>
								<th>编号</th>
								<th>用户名</th>
								<th>角色</th>
								<th>姓名</th>
								<th>电话</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="listinfo" id="admin">
							<tr>
								<td>{$admin.admin_id}</td>
								<td>{$admin.username}</td>
								<td>{$admin.group_name}</td>
								<td>{$admin.realname}</td>
								<td>{$admin.phone}</td>
								<td>
								<if condition="$admin.isable eq 1 "><!--1启用-->
								<font color=green>启用</font>
								</if>
								<if condition="$admin.isable eq 2 "><!--2禁用-->
								<font color=red>禁用</font>
								</if>
								</td>
								<td>
						
								<a href="{:U('admininfo/editadmin',array('admin_id'=>$admin['admin_id']))}" class="but chaxun">
								<i class="fa fa-edit"></i>
								编辑</a>
								<a href="{:U('admininfo/repassword',array('admin_id'=>$admin['admin_id']))}" class="but chaxun" onclick="{if(confirm('你确定要重置密码为123456吗?')){return true;}return false;}">
								<i class="fa fa-lock"></i>
								重置密码</a>
								<if condition="$admin.admin_id neq 1 ">
									<if condition="$admin.isable eq 1 ">
									<a href="{:U('admininfo/isable',array('admin_id'=>$admin['admin_id'],'isable'=>2))}" onclick="{if(confirm('确认要禁用当前管理员?')){return true;}return false;}" class="but chaxun">
									<i class="fa fa-toggle-off" ></i>
									禁用</a>
									</if>
									<if condition="$admin.isable eq 2 ">
									<a href="{:U('admininfo/isable',array('admin_id'=>$admin['admin_id'],'isable'=>1))}" onclick="{if(confirm('确认要启用当前管理员?')){return true;}return false;}" class="but chaxun">
									<i class="fa fa-toggle-on"></i>
									启用</a>
									</if>
								
								</if>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>				
				{$pageshow}
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(function(){
		$(".right_min").height($(window).height());
	});
	//搜索
	function checkkwd(){
		var keyword=$('#keyword').val();
		/*
		if(keyword==""){
			alert("请输入要检索的关键词!");
			return false;
		}
		*/
	}
</script>
