<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的咨询</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/user/css/mian.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/user/js/Swiper/swiper.min.css"/>
        <script src="__PUBLIC__/user/js/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script>
        	(function (doc, win) {
				var docEl = doc.documentElement,
				resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',         
				recalc = function () {
				  var clientWidth = docEl.clientWidth;
				  if (!clientWidth) return;
				  docEl.style.fontSize = 25 * (clientWidth / 720) + 'px';
				};
				  if (!doc.addEventListener) return;
				  win.addEventListener(resizeEvt, recalc, false);
				  doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
        </script>
	</head>
	<body>
		<style type="text/css">
			body{background: #fff;}
			.ct a p{word-wrap:break-word}
		</style>
		<div class="njzs_xiangxifenlei">
			<notempty name="info">
			<volist name="info" id="info">
		    	<div class="wenda_ct">
		    		<div class="wenda_list">
		    			<div class="nonghu">
			    			<dl class="c">
			    				<dt>
			    					<a href="#"><img src="{$info.avatar}"/></a>
			    				</dt>
			    				<dd>
									<div class="top">
										<a href="#">
											<h4>{$info.nickname}<em>{$info.type_name}</em></h4>
											<span>{$info.questions_addtime}</span>
										</a>
									</div>
									<div class="ct">
										<a href="{:U('expert/zhuanjiawenda_xq',array('questions_id'=>$info['questions_id']))}">
											<p>{$info.questions_content}</p>
										</a>
									</div>
									<notempty name="info.questions_image">
									<div class="img c">
										<a href="{:U('expert/zhuanjiawenda_xq',array('questions_id'=>$info['questions_id']))}">
											<volist name="info.questions_image" id="vo">
											<span><img src="{$vo}"/></span>
											</volist>
										</a>
									</div>
									</notempty>
									<div class="bottom">
										<span>
											<i class="icon-zan"></i>
											<em>{$info.questions_like}</em>
										</span>
										<span>
											<i class="icon-xiaoxi1"></i>
											<em>{$info.questions_answers}</em>
										</span>
									</div>
			    				</dd>
			    			</dl>
		    			</div>
		    		</div>
		    	</div>
	    	</volist>
	    	<else />
	    	<div class="meiyouneirong" style="display:block;">
				<i><img src="__PUBLIC__/user/images/li_wdxx_img.png"/></i>
				<p>你还没有咨询任何问题</p>
			</div>
	    	</notempty>			
	    	
	    	
		</div>
		
	    <div id="loadings" style="width:30px;height:30px;position:fixed;left:50%;top:50%; margin-left:-15px; margin-top:-15px; display:none;z-index:99999;">
	            <img src="__PUBLIC__/agcy/images/5-130H2191536.gif">
	        </div>
        	<button  style="display:none" id="more" data='1' datatype="1" class="btn00">加载更多</button>
	</body>
</html>
<script type="text/javascript">
$(function(){
	 //监听返回按钮返回到指定页面
    var url= '__SELF__'.replace(/&amp;/ig,'&');  
    getHistory();
    window.addEventListener('popstate',function(e){
        window.location='{:U("user/userinfo")}';
        //alert(document.title);
        document.title='个人中心';
        getHistory();
    },false);   
    function getHistory(){
        var state={
           title:'',
           url:url
        }
        window.history.pushState(state,'title',url);
    }
    
	function add_width(){
		$.each($(".img"), function(){
			if($(this).find('span').length==1){
				$(this).find('span').css({
					'width':'60%'
				})
			}			
		});
	}
	add_width();
	 //页面滚动的时候绑定事件
    $(window).bind('scroll',getData);
    function getData() {
        totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop()) + 1;
        //浏览器的高度加上滚动条的高度 （页面总高度）
        if ($(document).height() <= totalheight) {
            //当文档的高度小于或者等于总的高度的时候，开始动态加载数据（当前文档的位置）
            //加载
            $("#loadings").fadeIn();
            //根据条件获取对应的项目条数
            getmore();//使用模板加载更多
            //加载完毕          
            $("#loadings").fadeOut();
        }
    }
    function getmore(){
    	var page = parseInt($("#more").attr("data")) + 1;
        $('#more').attr("data", page);//重置当前页数  
        $.get("{:U('user/my_consult')}", {"p": page}, function (data) {
            if (data.data==1) {
                $(".njzs_xiangxifenlei").append(data.html);
                //$(".dibufengexian").show();
                $(window).unbind('scroll',getData);
            }else{
            	$(".njzs_xiangxifenlei").append(data.html);
            } 
            add_width();
            
        })
    }
})
</script>