<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>统计</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<style type="text/css">
			.right_min{background: #f2f2f2;}
			.query{background:#fff;}
		</style>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">主页</a></li>
				</ul>
			</div>
			
			<div class="min">
			<!--查询-->
				<div class="query">
					<h1 style="font-size:25px;">欢迎【<font color=red>{$Think.session.factory.factory_name}({$Think.session.factory.factory_usrnm})</font>】进入{$Think.config.System.factory_title}！</h1>
				</div>
				<div class="tongji_box">
					<ul>
						<li class="tongji pg_lr15">
							<a href="{:U('forder/index')}">
								<div class="title">
									<i class="fa fa-users" style="color:#54FF9F;font-size: 16px;"></i>
									<h4><span>订单数(已完成)</span></h4>
								</div>
								<div class="center">
									<p> 
										<span>{$bookorder}</span>
										<em>单</em>
									</p>
								</div>
							</a>
						</li>
						<li class="tongji pg_lr15">
							<a href="{:U('agcyapply/index')}"> 
								<div class="title">
									<i class="fa fa-users" style="color:#54FF9F;font-size: 16px;"></i>
									<h4><span>产品代理(已审核)</span></h4>
								</div>
								<div class="center">
									<p> 
										<span>{$agcy}</span>
										<em>个</em>
									</p>
								</div>
							</a>
						</li>
						<li class="tongji pg_lr15">
							<a href="{:U('message/index')}">
								<div class="title">
									<i class="fa fa-users" style="color:#54FF9F;font-size: 16px;"></i>
									<h4><span>未读消息</span></h4>
								</div>
								<div class="center">
									<p> 
										<span>{$message}</span>
										<em>条</em>
									</p>
								</div>
							</a>
						</li>
						<li class="tongji pg_lr15">
							<a href="{:U('fgoods/index')}">
								<div class="title">
									<i class="fa fa-users" style="color:#54FF9F;font-size: 16px;"></i>
									<h4><span>商品(审核通过)</span></h4>
								</div>
								<div class="center">
									<p> 
										<span>{$fgoods}</span>
										<em>件</em>
									</p>
								</div>
							</a>
						</li> 
						<li class="tongji pg_lr15">
							<a href="{:U('fgoods/index')}">
								<div class="title">
									<i class="fa fa-money" style="color:#54FF9F;font-size: 16px;"></i>
									<h4><span>营业额</span></h4>
								</div>
								<div class="center">
									<p> 
										<span>{$factoryinfo['factory_money']}</span>
										<em>元</em>
									</p>
								</div>
							</a>
						</li> 
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(function(){
		$(".right_min").height($(window).height());
	});
</script>
