<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>厂家提现记录</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css"> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/switch-buttons.css">
        <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script> 
        <script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script> 
        <script type="text/javascript">
            $(function () {
                $('input, textarea').placeholder();
            });
        </script> 
    </head>
    <body>
        <div class="right_min">
            <div class="crumbs_nav">
                <i class="iconfont icon-shouye"></i>
                <ul>
                    <li><a href="{:U('index/welcome')}">首页</a></li>
                    <li> > </li>
                    <li><a href="###">厂家管理</a></li>
                    <li> > </li>
                    <li><a href="{:U('fwithdraw/index')}">厂家提现</a></li>
                </ul>
            </div>
            <div class="min">
                <!--查询-->
                <div class="query">
                    <form name="seachform" id="seachform" action="{:U('fwithdraw/index')}"  method="post" class="form">
                        <div class="form_input mg_trb">
                            <label class="text">厂家名称</label>
                            <input type="text" name="info[factory_name]"  value="{$factory_name}"  placeholder="厂家名称"  maxlength="20"/>
                        </div> 
                        <div class="select mg_trb">
							<span class="text">状态</span>
							<select  id="status" name="info[status]">
								<option value="">请选择状态</option>
								<volist name="status" id="data">
								<option value="{$key}" <if condition="$key eq $status_ ">selected</if>>{$data}</option>
								</volist>
							</select>
						</div>						
                        <div class="form_input mg_trb form-date">
                            <label class="text">时间</label>
                            <input type="text" class="laydate-icon layer-date" name="info[starttime]"  value="{$starttime}"  id="start" placeholder="开始时间" readonly/>
                            <span>--</span>
                            <input type="text" class="laydate-icon layer-date" name="info[endtime]"  value="{$endtime}"  id="end" placeholder="结束时间" readonly/>
                        </div> 
                        <div class="button mg_trb" onclick="location.href = '{:U(\'fwithdraw/index\')}'">
                            <i class="fa fa-refresh ico"></i>
                            <input type="button" value="刷新" class="but chongzhi" />
                        </div>
                        <div class="button mg_trb chaxun">
                            <i class="fa fa-search ico"></i>
                            <input type="submit" value="查询" class="but " style="position: absolute; background: none;z-index: 2;"/>
                        </div>
                    </form>
                </div> 
                <div class="table_box">
                    <table class="table" border="" cellspacing="" cellpadding=""> 
                        <colgroup>
                            <col width="150">
                            <col width="150">
							<col width="150">
                            <col width="200">
                            <col width="100">
                            <col width="200"> 
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>厂家名称</th>
                                <th>提现金额</th>
								<th>手续费(%)</th>
                                <th>时间</th> 
                                <th>状态</th> 
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="withdrawlist" id="withdraw">
                            <tr>
                                <td>{$withdraw.factory_name}</td> 
                                <td>{$withdraw.fwithdraw_amount}</td>
								<td>{$pop.set_value}</td>
                                <td>{$withdraw.fwithdraw_addtime}</td>
                                <td>{$withdraw.fwithdraw_flagstr}</td> 
                                <td> 
                                    <?php if($withdraw['fwithdraw_flag']==1):?> 
                                    <p onclick="adopt({$withdraw.fwithdraw_id})"  class="but chaxun">
                                        <i class="fa fa-check" ></i>
                                        通过</p>
                                    <p onclick="refuse({$withdraw.fwithdraw_id})"  class="but chongzhi">
                                        <i class="fa fa-ban" ></i>
                                        驳回</p> 
                                    <?php endif;?>
                                    <a onclick="xiangQing({$withdraw.fwithdraw_id})" class="but chaxun" >
                                        <i class="fa fa-eye"></i>
                                        查看详情
                                    </a>  
                                </td>
                            </tr> 
                        </volist>
                        </tbody>
                    </table>
                </div>
                {$pageshow}
            </div>
        </div> 
        <script src="__PUBLIC__/admin/js/layer/layer.js"></script> 
        <script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
        <script>
        //laydate({elem: "#hello", event: "focus"});
        var start = {
            elem: "#start",
            format: "YYYY-MM-DD",
            min: "2000-06-16",
            max: "2099-06-16",
            istime: false,
            istoday: false,
            choose: function (datas) {
                end.min = datas;
                end.start = datas
            }
        };
        var end = {
            elem: "#end",
            format: "YYYY-MM-DD",
            min: "2000-06-16",
            max: "2099-06-16",
            istime: false,
            istoday: false,
            choose: function (datas) {
                start.max = datas
            }
        };
        laydate(start);
        laydate(end);
        $(function () {
            $('input, textarea').placeholder();
        });
        
    $(".right_min").height($(window).height());
    var body_w = $(".right_min").width() - 200;
    var body_h = $(".right_min").height() - 100;
        
        
        
    //查看详情
    function xiangQing(agcy_pop_id) {
    layer.open({
    type: 2,
            title: false,
            skin: "layui-layer-molv",
            shade: [0.8, '#000000'],
            scrollbar: false,
            maxmin: false,
            shadeClose: false, //点击遮罩关闭层
            area: [body_w + "px", body_h + "px"],
            content: "{:U('fwithdraw/info')}&agcy_pop_id=" + agcy_pop_id
    });
    }

    //通过申请
    function adopt(agcy_pop_id){
    layer.open({
    type: 2,
            title: false,
            skin: "layui-layer-molv",
            shade: [0.8, '#000000'],
            scrollbar: false,
            maxmin: false,
            shadeClose: false, //点击遮罩关闭层
            area: [body_w + "px", body_h + "px"],
            content: "{:U('fwithdraw/adopt')}&agcy_pop_id=" + agcy_pop_id
    });
    }
    //驳回申请
    function refuse(agcy_pop_id){
    layer.open({
    type: 2,
            title: false,
            skin: "layui-layer-molv",
            shade: [0.8, '#000000'],
            scrollbar: false,
            maxmin: false,
            shadeClose: false, //点击遮罩关闭层
            area: [body_w + "px", body_h + "px"],
            content: "{:U('fwithdraw/refuse')}&agcy_pop_id=" + agcy_pop_id
    });
    }
        </script> 
    </body>
</html>
