
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>提现申请详情</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
        <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
    </head>
    <body>
        <div class="right_min">
            <div class="crumbs_nav">
                <i class="iconfont icon-shouye"></i>
                <ul>
                    <li><a href="javascript:void(0);">提现申请详情</a></li>
                </ul>
            </div>
            <div class="min">
                <div class="message">
                    <div class="message-block message-border-t">
                        <h4 class="message-left_block">提现申请详情</h4>
                    </div>
                    <table class="table" border="" cellspacing="" cellpadding="">
                        <tr>					
                            <th style="font-weight:bold;">厂家名称</th>
                            <td>{$fwithdrawinfo.factory_name}</td>
                            <th style="font-weight:bold">申请提现金额</th>
                            <td>{$fwithdrawinfo.fwithdraw_amount}</td> 
                            <th style="font-weight:bold">手续费</th>
                            <td>{$pop.set_value}</td>  
                        </tr>  
                        <tr>
                            <th style="font-weight:bold">实际到账金额</th>
                            <td>{$fwithdrawinfo.fwithdraw_fact}</td> 
							<th style="font-weight:bold">申请时间</th>
                            <td>{$fwithdrawinfo.fwithdraw_addtime}</td> 
                            <th style="font-weight:bold;">提现状态</th>
                            <td>{$fwithdrawinfo.fwithdraw_flagstr}</td>
                            
                        </tr>  
                        <tr>
                            <th style="font-weight:bold">户主姓名</th>
                            <td>{$fwithdrawinfo.fwithdraw_bank_usrname}</td> 
							<th style="font-weight:bold">户主身份证</th>
                            <td>{$fwithdrawinfo.fwithdraw_bank_userid}</td> 
                            <th style="font-weight:bold;">开户行</th>
                            <td>{$fwithdrawinfo.fwithdraw_bank_bankname}</td>
                               
                        </tr>  
                        <tr>
                            <th style="font-weight:bold">银行卡号</th>
                            <td>{$fwithdrawinfo.fwithdraw_bank_account}</td>
							<th style="font-weight:bold">银行预留手机号</th>
                            <td>{$fwithdrawinfo.fwithdraw_bank_tel}</td> 
                            <th style="font-weight:bold;">审核人</th>
                            <td>{$fwithdrawinfo.username}</td> 
                        </tr>
						<tr> 
                             <th style="font-weight:bold">审核时间</th>
                            <td>{$fwithdrawinfo.fwithdraw_bank_checktime}</td>  
                            <th style="font-weight:bold">备注</th>
                            <td colspan="3">{$fwithdrawinfo.fwithdraw_bank_remark}</td>  
                        </tr> 
                    </table>   
                </div>
            </div>
        </div>
    </body>
</html>
<script src="/foodsking/Public/admin/js/layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        $(".right_min").height($(window).height());
        $('.table_box input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        var index = parent.layer.getFrameIndex(window.name);
        $('#net').on('click', function () {
            parent.layer.close(index);
        });
    });
</script>
