<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>促销活动</title>
		<!--说明文字编码-->
		<meta http-equiv="Content-type" content="text/html" charset="utf-8">
		<!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
		<!--控制状态栏显示样式-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--解决uc字体变大问题-->
		<meta name="wap-font-scale" content="no">
		<!--手机号码不被显示为拨号链接-->
		<meta content="telephone=no" name="format-detection" />
		<!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/common.css" />
		<style>
			.banner{
				width: 100%;
			}
			.cont{
				padding: 0 0.64rem;
			}
			.cont div{
				width: 13.4rem;
				height: 6.6rem;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				margin-top: 1rem;
			}
			.cont div a{
				display: block;
			}
			.cont div img{
				height: 2.68rem;
				display: block;
				margin: 0.8rem auto;
			}
			.cont div p{
				font-size: 1.36rem;
				color: #FFFFFF;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<a href="{:U('product/productlist')}">
				<img src="__PUBLIC__/agcy/images/left.png" />
			</a>
			<p>促销活动</p>
		</div>
		<img class="banner" src="__PUBLIC__/agcy/images/banner2.png" onclick="window.location.href='{:U('activity/huodongguize')}'"/>
		<div class="cont flexbb">
			<div onclick="window.location.href='{:U('activity/tianjiatuangou',array('act_classify'=>2))}'" style="background-image: url(__PUBLIC__/agcy/images/bg1.png); margin-right:0.25rem;">
				<a href="###">
					<img src="__PUBLIC__/agcy/images/icon1.png" />
					<p>添加团购活动</p>
				</a>
			</div>
			<div onclick="window.location.href='{:U('activity/tianjiatuangou',array('act_classify'=>1))}'" style="background-image: url(__PUBLIC__/agcy/images/bg2.png);">
				<a href="###">
					<img src="__PUBLIC__/agcy/images/icon2.png" />
					<p>添加秒杀活动</p>
				</a>
			</div>
		</div>
		<div class="cont flexbb">
			<div onclick="window.location.href='{:U('activity/chakantuangouhuodong',array('act_classify'=>2))}'" style="background-image: url(__PUBLIC__/agcy/images/bg3.png); margin-right:0.25rem;">
				<a href="###">
					<img src="__PUBLIC__/agcy/images/icon3.png" />
					<p>查看团购活动</p>
				</a>
			</div>
			<div onclick="window.location.href='{:U('activity/chakantuangouhuodong',array('act_classify'=>1))}'" style="background-image: url(__PUBLIC__/agcy/images/bg4.png);">
				<a href="###">
					<img src="__PUBLIC__/agcy/images/icon4.png" />
					<p>查看秒杀活动</p>
				</a>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/agcy/js/screenSize.js" ></script>
	</body>

</html>