<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>兑换成功</title>
		<!--说明文字编码-->
		<meta http-equiv="Content-type" content="text/html" charset="utf-8">
		<!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
		<!--控制状态栏显示样式-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--解决uc字体变大问题-->
		<meta name="wap-font-scale" content="no">
		<!--手机号码不被显示为拨号链接-->
		<meta content="telephone=no" name="format-detection" />
		<!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/common.css" />
		<style>
			.cont{}
			.cont img{
				height: 5rem;
				display: block;
				margin: 5rem auto 0;
			}
			.cont p:nth-of-type(1){
				font-size: 1.36rem;
				text-align: center;
				margin-top: 1.76rem;
			}
			.cont p:nth-of-type(2){
				font-size: 0.96rem;
				margin: 2.6rem auto 4rem;
				width: 18rem;
				display: block;
				line-height: 180%;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<a href="javascript:history.go(-1)">
				<img src="__PUBLIC__/agcy/images/left.png" />
			</a>
			<p>兑换成功</p>
		</div>
		<div class="cont">
			<img src="__PUBLIC__/agcy/images/true.png" />
			<p>兑换成功</p>
			<p>你所兑换的商品会跟随你的订单从厂家发货，请耐心等待。谢谢你的支持</p>
		</div>
		<button class="btnn" onclick="location.href='{:U('integral/duihuanjilu')}'">确定</button>
		<script type="text/javascript" src="__PUBLIC__/agcy/js/screenSize.js" ></script>
	</body>

</html>