<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>农资贷款</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/switch-buttons.css">
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">经销商管理</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">农资贷款</a></li>
        </ul>
    </div>
    <div class="min">
        <!--查询-->
        <div class="query">
            <form  name="seachform" id="seachform"  action="{:U('agcymoney/index')}"  method="post" class="form"  >
				<div class="form_input mg_trb">
                    <label class="text">经销商名称</label>
                    <input type="text" name="info[agcy_name]" id="agcy_name" value="{$agcy_name}"  placeholder="请输入经销商名称/经销商电话"  maxlength="50"/>
                </div>
                <div class="select mg_trb">
                    <span class="text">审核状态</span>
                    <select name="info[status]">
                        <option value="">--请选择状态--</option>
                        <volist name="state" id="state" key='k'>
                            <option value="{$k}" <if condition="$k eq $status ">selected</if>>{$state}</option>
                        </volist>
                    </select>
                </div>
                <div class="button mg_trb" onclick="location.href='{:U('agcymoney/index')}'">
                    <i class="fa fa-refresh ico"></i>
                    <input type="button" value="刷新" class="but chongzhi" />
                </div>

                <div class="button mg_trb chaxun">
							<i class="fa fa-search ico"></i>
							<input type="submit" value="查询" class="but " style="    position: absolute; background: none;z-index: 2;" />
						</div>
            </form>
        </div>
        <div class="table_box">
            <table class="table" border="" cellspacing="" cellpadding="">
                <thead>
                <tr>
                    <th>编号</th>                   
                    <th>经销商名称</th>
                    <th>经销商电话</th>
                    <th>经销商地址</th>
					<th>申请金额</th>
                    <th>申请状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="agcyloaninfo" id="ls">
                    <tr>
                        <td>{$ls.loans_id}</td>
                        <td>{$ls.agcy_name}</td>
                        <td>{$ls.agcy_tel}</td>
						<td>{$ls.agcy_address}</td>
                        <td>{$ls.money}</td>
                        <td>
                            <if condition="$ls['status'] eq 1">
                                通过
                            <elseif condition="$ls['status'] eq 2" />
                                驳回
                            <else/>
                                申请中
                            </if>

                        </td>
                        <td>
                            <p  onclick="xiangqing({$ls['loans_id']})" class="but chaxun">
                                <i class="fa fa-eye"></i>
                                详情
                            </p>
                            <if condition="$ls['status'] eq 3">
                                <p  onclick="adopt({$ls['loans_id']})" class="but chaxun">
                                    <i class="fa fa-trash-o"></i>
                                    审核
                                </p>
                                <p  onclick="refuse({$ls['loans_id']})" class="but chaxun">
                                    <i class="fa fa-trash-o"></i>
                                    驳回
                                </p>
                            </if>
                            <a href="{:U('agcymoney/del',array('loans_id'=>$ls['loans_id']))}" onclick="{if(confirm('确认删除?')){return true;}return false;}" class="but chongzhi">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        {$pageshow}
    </div>
</div>
</body>
</html>
<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/admin/js/layer/layer.js"></script>
<script>
    $(".right_min").height($(window).height());
    var body_w = $(".right_min").width() - 200;
    var body_h = $(".right_min").height() - 100;
    //通过申请
    function adopt(loans_id){
        //alert(loans_id);
        layer.open({
            type: 2,
            title: false,
            skin: "layui-layer-molv",
            shade: [0.8, '#000000'],
            scrollbar: false,
            maxmin: false,
            shadeClose: false, //点击遮罩关闭层
            area: [body_w + "px", body_h + "px"],
            content: "{:U('agcymoney/adopt')}&loans_id=" + loans_id
        });
    }
    //驳回申请
    function refuse(loans_id){
        layer.open({
            type: 2,
            title: false,
            skin: "layui-layer-molv",
            shade: [0.8, '#000000'],
            scrollbar: false,
            maxmin: false,
            shadeClose: false, //点击遮罩关闭层
            area: [body_w + "px", body_h + "px"],
            content: "{:U('agcymoney/refuse')}&loans_id=" + loans_id
        });
    }
    //驳回申请
    function xiangqing(loans_id){
        layer.open({
            type: 2,
            title: false,
            skin: "layui-layer-molv",
            shade: [0.8, '#000000'],
            scrollbar: false,
            maxmin: false,
            shadeClose: false, //点击遮罩关闭层
            area: [body_w + "px", body_h + "px"],
            content: "{:U('agcymoney/info')}&loans_id=" + loans_id
        });
    }

</script>

