<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<!--说明文字编码-->
		<meta http-equiv="Content-type" content="text/html" charset="utf-8">
		<!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
		<!--控制状态栏显示样式-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--解决uc字体变大问题-->
		<meta name="wap-font-scale" content="no">
		<!--手机号码不被显示为拨号链接-->
		<meta content="telephone=no" name="format-detection" />
		<!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="stylesheet" href="__PUBLIC__/expert/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/expert/css/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/expert/css/index.css" />
        <script type="text/javascript" src="__PUBLIC__/expert/js/jquery-3.1.1.min.js"></script>
	</head>

	<body>
		<div class="header">
			<p>首页</p>
		</div>
		<div class="top">
			<img src="{$expert.expert_avator}" />
			<p>{$expert.expert_nickname}<if condition="($expert['sclassify_name'] neq null) or ( $expert['sclassify_name'] neq '') "><span>{$expert.sclassify_name}</span><else/><span>专家</span></if></p>
			<p>活跃值：{$expert.expert_activevalue}</p>
			<a href="{:U('index/expertinfo')}">
				<img src="__PUBLIC__/expert/images/right.png" /> 
			</a>
		</div>
		<div class="center flexb">
			<div>
				<p>{$expert_answers}</p>
				<p>我的回答（个）</p>
			</div>
			<div>
				<p>{$expert_article}</p>
				<p>我的文章（篇）</p>
			</div>
		</div>
		<div class="menu flexbb">
			<a href="{:U('answer/wentiguanli')}">
				<img src="__PUBLIC__/expert/images/c1.png" />
				<p>问题管理</p>
			</a>
			<a href="{:U('article/articlelist')}">
				<img src="__PUBLIC__/expert/images/c2.png" />
				<p>文章管理</p>
			</a>
			<a href="{:U('index/wanshanxinxi')}">
				<img src="__PUBLIC__/expert/images/c3.png" />
				<p>完善个人信息</p>
			</a>
			<a href="{:U('message/reward')}">
				<img src="__PUBLIC__/expert/images/c4.png" />
				<p>奖励规则</p>
			</a>
			<a href="{:U('message/index')}">
				<img src="__PUBLIC__/expert/images/m11.png" />
				<p>
				<?php  if($message>0):?>
					<span style="display: inline-block;margin-bottom: 0.25rem;margin-right: 0.25rem;background: red;width: 0.5rem;height: 0.5rem;border-radius: 0.25rem;">
					</span>
				<?php endif;?>我的消息</p>
			</a>
		</div>
		<script type="text/javascript" src="__PUBLIC__/expert/js/screenSize.js" ></script>
	</body>

</html>