<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>农业数字报</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/user/css/mian.css"/>
        <script src="__PUBLIC__/user/js/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script>
        	(function (doc, win) {
				var docEl = doc.documentElement,
				resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',         
				recalc = function () {
				  var clientWidth = docEl.clientWidth;
				  if (!clientWidth) return;
				  docEl.style.fontSize = 25 * (clientWidth / 720) + 'px';
				};
				  if (!doc.addEventListener) return;
				  win.addEventListener(resizeEvt, recalc, false);
				  doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
        </script>
	</head>
	<body>
		<style type="text/css">
			 body{background: #fff;}
		</style>
    	<!--农业数字报-->
    	<div class="nongyeshuzibao c">
			<?php if(count($followlist)>0):?>
				<ul id="cont">
				   <?php foreach($followlist as $k=>$v):?>
						<li>
							<a  onclick='tiaozhuan("{$v.slp_url}")'>
								<i><img src="{$v.slp_image}"/></i>
								<p>{$v.slp_title}</p>
							</a>
						</li>
					<?php endforeach;?>
				</ul>
			<?php else :?>
				<div class="meiyouneirong" style="display:block;margin-top:10%;">
					<i><img src="__PUBLIC__/user/images/li_wdxx_img.png"/></i>
					<p>暂无数据</p>
				</div>
			<?php endif;?>
    	</div>
    	<div class="dibufengexian c">
                 <p>亲，到底了</p>
        </div>
		<div id="loadings" style="width:30px;height:30px;position:fixed;left:50%;top:50%; margin-left:-15px; margin-top:-15px; display:none;z-index:99999;">
			<img src="__PUBLIC__/agcy/images/5-130H2191536.gif">
		</div> 
		<button  style="display:none" id="more" data='1' datatype="1" class="btn00">加载更多</button> 
		<script type="text/javascript" src="__PUBLIC__/agcy/js/screenSize.js" ></script>
	</body>
</html>
<script>					
//数据列表
    function htmlinfo(info){  	
        var html=""; 
        for(var i=0;i<info.length;i++){
			html+='<li>';  
			html+='<a onclick="tiaozhuan(\''+info[i].slp_url+'\')">'; 
			html+='<i><img src="'+info[i].slp_image+'"/></i>'; 
			html+='<p>'+info[i].slp_title+'</p>'; 
			html+='</a>';  
			html+='</li>'; 
        }
        return html;     
    }
	//滚动加载  
    $(window).scroll(function () { 
        getData();
    });
    var totalheight = 0;     //定义一个总的高度变量
    function getData() {
         totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop())+1; 
         //浏览器的高度加上滚动条的高度 （页面总高度）  
        if ($(document).height() <= totalheight) {          
            //当文档的高度小于或者等于总的高度的时候，开始动态加载数据（当前文档的位置）
            //加载
            $("#loadings").fadeIn(); 
            //根据条件获取对应的项目条数
            getmore();//使用模板加载更多
            //加载完毕          
            $("#loadings").fadeOut(); 
        }
    }

	//加载更多 
    function getmore(){      
        var page=parseInt($("#more").attr("data"))+1;
        $('#more').attr("data",page);//重置当前页数  
        $.getJSON("{:U('policy/newspaper')}&p="+page,function(data){  
           var info = data.followlist;    
           if(info.length>0){
                var html = htmlinfo(info);
                $("#cont").append(html);
           }else{
                $("#loadings").fadeOut(); 
                $(".dibufengexian").show();          
           }
        }) 
    }
</script>
<script>
//跳转
function tiaozhuan(url){
  location.href=url;
}

</script>