<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
		<link href="__PUBLIC__/validform/Validform.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="__PUBLIC__/validform/Validform_v5.3.2.js"></script>
	</head>
	<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="{:U('adminrole/index')}">角色设置</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">修改角色</a></li>
				</ul>
			</div>
			<div class="min">
				<div class="form_box">
					<form name="myform" id="myform" action="{:U('adminrole/editadmingroup',array('role_id'=>$groupinfo['role_id']))}" method="post">
						<div class="form-item">
							<label class="form-label">角色名</label>
							<div class="form-text form-input-block">
								<input name="info[role_name]" id="role_name" type="text" class="dfinput" value="{$groupinfo.role_name}" datatype="/^[\u4E00-\u9FA5\uf900-\ufa2d]{2,10}$/" errormsg="角色名范围在2~10位之间，汉字！" maxlength="10" readonly />
								<i class="Validform_checktip"></i>
							</div>
						</div>
						<volist name="adminmenu" id="menu">
						<div class="form-item">
							<label class="form-label">{$menu.menu_name}</label>
							<div class="form-checkbox form-input-block ">
								<dl class="checkbox-title c">
									<dt>
										<input type="checkbox" name="info[menu_id][]" type="checkbox" value="{$menu.menu_id}"  <in name="menu['menu_id']" value="$groupinfo.role_power">checked</in>  data="one" />
										<span>{$menu.menu_name}</span>
									</dt>
									<dd><i class="fa fa-chevron-up fa-flip-vertical"></i></dd>
								</dl>
								<div class="skin-section pg_t10" style="border-top: none;">
								<volist name="menu['child']" id="child_">
									<div class="form-item">										
										<div class="form-checkbox form-input-block form-mg_lr40">
											<dl class="checkbox-title c">
												<dt>
													<input type="checkbox" name="info[menu_id][]" type="checkbox" value="{$child_.menu_id}"  <in name="child_['menu_id']" value="$groupinfo.role_power">checked</in>  data="two" />
													<span>{$child_.menu_name}</span>
												</dt>
												<dd><i class="fa fa-chevron-up fa-flip-vertical"></i></dd>
											</dl>
											<div class="skin-section" style="border-top: none;">
												<ul>
												<volist name="child_['child']" id="child__">
													<li>
														<input type="checkbox" name="info[menu_id][]" type="checkbox" value="{$child__.menu_id}" <in name="child__['menu_id']" value="$groupinfo.role_power">checked</in> data="three" />
														<span>{$child__.menu_name}</span>
													</li>
												</volist>
												</ul>
											</div>
											<i class="Validform_checktip"></i>
										</div>
									</div>
								</volist>
								</div>
							</div>
						</div>
						</volist>
						<div class="form-item">
							<div class="form-button form-input-block">
								<input class="chaxun but" type="submit" value="提交"/>
								<button class="but chongzhi" type="button" onclick="location.href='{:U('adminrole/index')}'">返回</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(function(){
		$(".right_min").height($(window).height());
		
		$('.form-checkbox input,.form-radio input').iCheck({
			checkboxClass: 'icheckbox_square-green',
			radioClass: 'iradio_square-green',
		});
		$('input').on('ifChecked', function(event){		//选中时
			//第二层绑定全选功能
			var data=$(this).attr("data");
			if(data=="two"){
				$(this).parents().parents().siblings(".skin-section").find("input").iCheck('check');
			}
		});
		$('input').on('ifUnchecked', function(event){	//取消时
			//第二层绑定全选功能
			var data=$(this).attr("data");
			if(data=="two"){
				$(this).parents().parents().siblings(".skin-section").find("input").iCheck('uncheck');
			}
		});
		$(".checkbox-title dd i").click(function(){
			$(this).toggleClass("fa-flip-vertical");
			$(this).parents().siblings(".skin-section").slideToggle(500);
		})
	});
</script>
	<script>
	$(function(){
		$("#myform").Validform({
			//tiptype:2
			tiptype:function(msg,o,cssctl){
				var objtip=o.obj.siblings(".Validform_checktip");
				cssctl(objtip,o.type);
				objtip.text(msg);
			}
		});
	}); 
	</script>