<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>编辑代理商品</title>
    <!--说明文字编码-->
    <meta http-equiv="Content-type" content="text/html" charset="utf-8">
    <!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    <!--控制状态栏显示样式-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--解决uc字体变大问题-->
    <meta name="wap-font-scale" content="no">
    <!--手机号码不被显示为拨号链接-->
    <meta content="telephone=no" name="format-detection" />
    <!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="__PUBLIC__/agcy/css/public.css" />
    <link rel="stylesheet" href="__PUBLIC__/agcy/css/common.css" />
    <link rel="stylesheet" href="__PUBLIC__/agcy/css/tianjiashangpin.css" />
    <link rel="stylesheet" href="__PUBLIC__/agcy/css/font-awesome.min.css" />
    
    <script src="__PUBLIC__/eleditor/jquery.min.js"></script> 
    <script src="__PUBLIC__/eleditor/webuploader.min.js"></script> 
    <script src="__PUBLIC__/eleditor/Eleditor.min.js"></script> 
    <style>
        #app {
            margin: 10px auto;
            width: 800px;
            max-width: 100%;
        }
        #contentEditor img{width:100%}
    </style>
</head>

<body>
<div class="header">
    <a href="{:U('product/productlist')}">
        <img src="__PUBLIC__/agcy/images/left.png" />
    </a>
    <p>编辑代理商品</p>
</div>
<ul class="cont">
    <li>
        <p>商品名称：</p>
        <input type="text" id="agcy_goods_name" maxlength="20" readonly value="{$goods.agcy_goods_name}" placeholder="请填写商品名称" />
        <input type="hidden" id="agcy_goods_id" value="{$goods.agcy_goods_id}" readonly />
    </li>
    <li class="butt flexb">
        <p>所属分类:</p>
        <select onchange="getsubClassName()" id="class_id">
            <option value="0">一级分类</option>
            <volist name="faName" id="data">
                <option value="{$key}" <if condition="$key eq $goods['agcy_classifyone']">selected</if> >{$data}</option>
            </volist>
        </select>
        <select id="subclassid">
            <option value="0">二级分类</option>
            <volist name="subclass" id="data">
                <option value="{$data.agcy_classify_id}" <if condition="$data.agcy_classify_id eq $goods['agcy_classifytwo']">selected</if>>{$data.agcy_classify_name}</option>
            </volist>
        </select>
        <button onclick='window.location.href="{:U('product/productclassify')}"' >添加分类</button>
    </li>
    <li>
        <p>一级比例：</p>
        <input type="text" id="agcy_one" value="{$goods.agcy_one}" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"  placeholder="请填写一级比例,如10为10%" maxlength="6" />
    </li>
    <li>
        <p>二级比例：</p>
        <input type="text" id="agcy_tow" value="{$goods.agcy_tow}" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" placeholder="请填写二级比例,如10为10%" maxlength="6" />
    </li>
    <li>
        <p>三级比例：</p>
        <input type="text" id="agcy_three" value="{$goods.agcy_three}" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"  placeholder="请填写三级比例,如10为10%" maxlength="6" />
    </li>
    <li>
        <p>规　　格：</p>
        <input type="text" id="spec" readonly maxlength="8" value="{$goods.agcy_goods_spec}" placeholder="请输入规格" />
    </li>
    <li>
        <p>价　　格：</p>
        <input type="text" id="price" readonly maxlength="8" value="{$goods.agcy_goods_price}" placeholder="请输入价格" />
    </li>
    <li>
        <p>库　　存：</p>
        <input type="text" id="stock" maxlength="10" value="{$goods.agcy_goods_repertory}" placeholder="请输入库存" />
    </li>
</ul>
<div class="cards">
    <div class="form-item">
        <p style="font-size:10px;color:red;">第一张是封面图（220x230）,第二张是详细图720x460）点击图片可以删除</p>
        <div class="form-text form-input-inline w40">
            <input type="hidden" name="agcy_face_images" value="{$goods.agcy_goods_images}"  id="agcy_face_images"  maxlength="255"  readonly/>
            <span>点击上传</span>
            <input class="but shenhe mg_t0" type="button" id="uploadButton"  class="chaxun but" value="上传"/>
        </div>
        <input name="agcy_face_images" id="imagemore" type="hidden" class="dfinput" value="" readonly />
        <div class="form-text form-input-block w50 c">
            <ul class="toollist_pic c" id="toollist_pic">
                <?php if($goods['agcy_goods_images']):?>
                <?php foreach(explode("|",$goods['agcy_goods_images']) AS $k=>$v):?>
                <li onclick="del_album_img('{$v}', this)"><a><img src="{$v}"></a></li>
                <?php endforeach;?>
                <?php endif;?>
            </ul>
        </div>
    </div>
</div>
<p class="pp">添加商品详情</p>
<div class="edit1" id="contentEditor" >{$goods.agcy_goods_remark}

</div>
<button class="btnn" id="tijiao" onclick="addProduct()">提交</button>
<script type="text/javascript" src="__PUBLIC__/agcy/js/screenSize.js"></script>
<script type="text/javascript" src="__PUBLIC__/agcy/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/agcy/js/vue-html5-editor.js" ></script>
<script type="text/javascript" src="__PUBLIC__/agcy/js/vue.js" ></script>
<script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/stringOperate.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js" ></script> 
<script>

   var contentEditor = new Eleditor({
        el: '#contentEditor',
        upload:{
            server: '{:U(\'expert/kindeditor2/upload_json\',array(\'dir\'=>image))}',
            compress: false, 
        },
        /*自定义按钮的例子*/
        toolbars: [
          'insertText',
          'editText', 
          'delete', 
          'undo',
          'cancel'
        ]
    });
    
    function htmlspecialchars (string) {  
        string = string.replace(/&/g, '&amp;');//这个就是双引号  
        string = string.replace(/"/g, '&quot;');   
        return string;  
    }  
</script>
</body>
</html>
<script>
    //根据一级分类id获取二级分类信息
    function getsubClassName(){
        $("#subclassid").empty();
        $("#subclassid").append("<option value=''>二级分类</option>");
        var class_id=$('#class_id').val();
        $.getJSON("{:U('product/getsubClassName')}&class_id="+class_id, function (result) {
            var data=result.data;
            $.each(data, function(i, v){
                $("#subclassid").append("<option value='"+v['agcy_classify_id']+"'>"+v['agcy_classify_name']+"</option>");
            });
        });
    }
    function addProduct() {
        var agcy_goods_id=parseInt($.trim($('#agcy_goods_id').val()));
        var class_id=$('#class_id').val();
        if(class_id ==0) { 
            layer.msg('请选择商品一级分类！',{icon:5,time:1000}); 
            $('#class_id').focus();
            return false;
        }
        var subclass_id=$('#subclassid').val();
        if(subclass_id ==0) { 
            layer.msg('请选择商品二级分类！',{icon:5,time:1000}); 
            $('#subclassid').focus();
            return false;
        }
        var agcy_one=$('#agcy_one').val();
        if(agcy_one==""){
            layer.msg('请输入一级比例！',{icon:5,time:1000});  
            $('#agcy_one').focus();
            return false;
        }
        if(agcy_one==0){ 
            layer.msg('一级比例不能为零！',{icon:5,time:1000});  
            $('#agcy_one').focus();
            return false;
        }
        if(agcy_one>100){ 
            layer.msg('一级比例不能大于100！',{icon:5,time:1000});  
            $('#agcy_one').focus();
            return false;
        }
        var agcy_tow=$('#agcy_tow').val();
        if(agcy_tow==""){
            layer.msg('请输入二级比例！',{icon:5,time:1000});   
            $('#agcy_tow').focus();
            return false;
        }
        if(agcy_tow==0){ 
            layer.msg('二级比例不能为零！',{icon:5,time:1000});   
            $('#agcy_tow').focus();
            return false;
        }
        if(agcy_tow>100){ 
            layer.msg('二级比例不能大于100！',{icon:5,time:1000});   
            $('#agcy_tow').focus();
            return false;
        }
        var agcy_three=$('#agcy_three').val();
        if(agcy_three==""){ 
            layer.msg('请输入三级比例！',{icon:5,time:1000});   
            $('#agcy_three').focus();
            return false;
        }
        if(agcy_three==0){ 
            layer.msg('三级比例不能为零！',{icon:5,time:1000});   
            $('#agcy_three').focus();
            return false;
        }
        if(agcy_three>100){
            layer.msg('三级比例不能大于100！',{icon:5,time:1000});   
            $('#agcy_three').focus();
            return false;
        }
        //判断价格和规格的长度
        var spec=$.trim($('#spec').val());
        var specLength=spec.split(',').length;
        var price=$.trim($('#price').val());
        var priceLength=price.split(',').length;
        if(priceLength == specLength){
            var stock=$.trim($('#stock').val());
            var stockLength=stock.split(',').length;
            if(stock == "" ){ 
                layer.msg('请输入库存！',{icon:5,time:1000});   
                $('#stock').focus();
                return false;
            }
            if(priceLength !=stockLength){ 
                layer.msg('请输入对应规格的库存！多个规格库存之间用英文逗号隔开。',{icon:5,time:1000});   
                $('#stock').focus();
                return false;
            }
        }
        var images=$.trim($("#agcy_face_images").val());
        if(images =='') { 
            layer.msg('请上传商品图片',{icon:5,time:1000});   
            $('#agcy_face_images').focus();
            return false;
        }
        var res=images.split('|');
        if(res.length!=2){
            layer.msg('请上传2张商品图片！',{icon:5,time:1000});    
            return false;
        }
         
        var contentsss=$.trim($('#contentEditor').html()); 
        if(contentsss=='<p class="Eleditor-placeholder">点击此处编辑内容</p>'){
            layer.msg('请输入简介！',{icon:5,time:1000});
            return false;
        }
        contentsss = htmlspecialchars(contentsss); 
        $('#tijiao').removeAttr('onclick');
		//$('#tijiao').css('background','#808080');
		var url = "{:U('product/editagcypro')}";
        var data = {"agcy_goods_id":agcy_goods_id,"agcy_one":agcy_one,"agcy_tow":agcy_tow,"agcy_three":agcy_three,"class_id":class_id,"subclass_id": subclass_id,"stock": stock,"images": images,"contentsss": contentsss};
        var success = function (response) {
            if (response.data >0) {  
                layer.msg('修改商品成功！',{icon:6,time:1000}, function () {
                    window.location.href='{:U("product/productlist")}';
                });
            }else {  
                layer.msg('修改商品失败！',{icon:5,time:1000}, function () {
                    window.location.href='{:U("product/productlist")}';
                });
            }
        };
        $.post(url, data, success, 'json');
    }

</script>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[id="agcy_content"]', {
            uploadJson: '{:U(\'kindeditor/upload_json\',array(\'dir\'=>image))}',
            fileManagerJson: '{:U(\'kindeditor/file_manager_json\')}',
            allowFileManager: true,
            urlType: 'domain',
            afterCreate: function () {
                this.sync();
            },
            afterBlur: function () {
                this.sync();
            }
        });

        //多图
        var uploadbutton = K.uploadbutton({
            button: K('#uploadButton')[0],
            fieldName: 'imgFile',
            url: '{:U(\'kindeditor/upload_json\',array(\'dir\'=>image))}',
            afterUpload: function (data) {
                if (data.error === 0) {
                    var url = K.formatUrl(data.url, 'domain');
                    layer.msg('上传成功',{icon:6,time:1000});
                    K('#imagemore').val(url);
                    add_album_img(url);
                } else { 
                    layer.msg(data.message,{icon:5,time:1000});     
                }
            },
            afterError: function (str) { 
                layer.msg('自定义错误信息: ' + str,{icon:5,time:1000});     
            }
        });
        uploadbutton.fileBox.change(function (e) {
            uploadbutton.submit();
            layer.msg('上传中，请稍后...',{icon:6,time:3000});
        });
    });
    //图片插件
    function add_album_img(imgurl) {
        var val = StringOperate.add($("#agcy_face_images").val(), imgurl);
        $("#agcy_face_images").val(val);
        $("#toollist_pic").append("<li onclick=\"del_album_img(\'" + imgurl + "\',this);\"><a><img src='" + imgurl + "'></a></li>");
        $('#imagemore').val("");
    }
    function del_album_img(imgurl, obj) {
        var val = StringOperate.remove($("#agcy_face_images").val(), imgurl);
        $("#agcy_face_images").val(val);
        $(obj).remove();//删除元素
    }
</script>
<style>
    /*多图上传样式*/
    .toollist_pic{clear: both;width: 100%;text-align: center;margin-right: 10px; margin-top:10px;}
    .toollist_pic li{float: left;list-style:none; clear: initial; width:100px;height:100px; overflow:hidden;position: relative;}
    .toollist_pic li a{display:block; width:100%; height:100%;}
    .toollist_pic li img{width:100px;height:100px;}
    .toollist_pic li i{display:block; position:absolute; top:0; right:0; width:16px; height:16px; background:#fff; z-index:888; margin:0;}
    .toollist_pic li .fa-times-circle{ font-size:20px; color:#fff;}
    .span{display:inline-block; height:34px; line-height:34px;color: #ff0000;font-size:1.8rem;vertical-align: middle;}
    .form-button .ke-inline-block.but{margin-top:0;}
    .form-button .ke-button-common{display:block;width:100%; height:100%; line-height:38px; background:none;}
    .form-button .ke-button-common.ke-button{color:#fff; font-size:16px;}
    .form-button .ke-upload-area.ke-form .ke-upload-file{display:block;width:100% !important; height:100%;     cursor: pointer;}
</style>
<style>
    .c:before,.c:after {content:"";display:table}
    .c:after {clear:both}
    .c {zoom:1}
    .form-item>p{font-size: 1.12rem;line-height: 160%;margin-bottom: 0.5rem;color: #7d7d7d;}
    .ke-button-common{opacity: 0;}
    .form-item {margin-bottom: 15px;clear: both;min-height: 35px;}
    .form-label {float: left;display: block;font-weight: 400;height: 30px;line-height: 30px;padding-right: 15px;font-size: 14px;
    }
    .ke-upload-area .ke-upload-file{height:30px;}
    .form-input-inline{overflow:hidden; height:30px; position:relative;}
    .form-input-inline span{ display:block; width:100px; height:30px; background:#3ab849; font-size:14px; text-align:center; line-height:30px; color:#fff; border-radius:5px;}
    .form-input-inline .shenhe{position:absolute; top:0; left:0;}
    .toollist_pic li{margin-right:10px; margin-bottom:10px;}

</style>