<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>订单管理</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css"> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/switch-buttons.css">
        <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script> 
        <script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script> 
        <script type="text/javascript">
            $(function () {
                $('input, textarea').placeholder();
            });
        </script> 
    </head>
    <body>
        <div class="right_min">
            <div class="crumbs_nav">
                <i class="iconfont icon-shouye"></i>
                <ul>
                    <li><a href="{:U('index/welcome')}">首页</a></li>
                    <li> > </li>
                   <li><a href="javascript:void(0);">我的订单</a></li>
                    <li> > </li>
                    <li><a href="{:U('forder/index')}">订单管理</a></li>
                </ul>
            </div>
            <div class="min">
                <!--查询-->
                <div class="query">
                    <form name="seachform" id="seachform" action="{:U('forder/index')}"  method="post" class="form">
                        <div class="form_input mg_trb">
                            <label class="text">快速检索</label>
                            <input type="text" name="info[agcy_name]"  value="{$agcy_name}"  placeholder="订单编号/经销商名称"  maxlength="20"/>
                        </div> 

                        <div class="form_input mg_trb form-date">
                            <label class="text">订单时间</label>
                            <input type="text" class="laydate-icon layer-date" name="info[starttime]"  value="{$starttime}"  id="start" placeholder="开始时间" readonly/>
                            <span>--</span>
                            <input type="text" class="laydate-icon layer-date" name="info[endtime]"  value="{$endtime}"  id="end" placeholder="结束时间" readonly/>
                        </div>
                         
                        <div class="select mg_trb">
                            <span class="text">订单状态</span>
                            <select name="info[forder_flag]">
                                <option value="0">--请选状态--</option> 
                                <option value="1" <?php if($forder_flag == 1){echo 'selected';}?>>待付款</option> 
                                <option value="2" <?php if($forder_flag == 2){echo 'selected';}?>>待发货</option> 
                                <option value="3" <?php if($forder_flag == 3){echo 'selected';}?>>已完成</option> 
                            </select>
                        </div>
                         
                        <div class="button mg_trb" onclick="location.href = '{:U(\'forder/index\')}'">
                            <i class="fa fa-refresh ico"></i>
                            <input type="button" value="刷新" class="but chongzhi" />
                        </div>
                        <div class="button mg_trb chaxun">
                            <i class="fa fa-search ico"></i>
                            <input type="submit" value="查询" class="but " style="position: absolute; background: none;z-index: 2;"/>
                        </div>
                    </form>
                </div> 
                <div class="table_box">
                    <table class="table" border="" cellspacing="" cellpadding=""> 
                         
                        <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>经销商名称</th>
                                <!--<th>运费</th>-->
                                <!--<th>商品总价</th>-->
                                <th>合计</th>
                                <th>订单时间</th> 
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="forderlist" id="order">
                            <tr>
                                <td>{$order.forder_number}</td> 
                                <td>{$order.agcy_name}</td>
                                <!--<td>{$order.forder_tpcost}</td>-->
                                <!--<td>{$order.forder_price}</td>-->
                                <td>{$order.forder_total}</td>
                                <td>{$order.forder_addtime}</td> 
                                <td>{$order.forder_flagstr}</td>  
                                <td> 
									<if condition="$order['forder_flag'] eq 2"> 
										<p onclick="fahuo({$order.forder_id})"  class="but chongzhi">
										<i class="fa fa-truck"></i>
										发货
										</p>
									</if> 
                                    <a onclick="xiangQing({$order.forder_id})" href="###"  class="but chaxun">
                                        <i class="fa fa-eye"></i>
                                        商品详情
                                    </a> 
                                </td>
                            </tr> 
                        </volist>
                        </tbody>
                    </table>
                </div>
                {$pageshow}
            </div>
        </div>
        <script src="__PUBLIC__/admin/js/layer/layer.js"></script> 
        <script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
        <script>
            //laydate({elem: "#hello", event: "focus"});
            var start = {
                elem: "#start",
                format: "YYYY-MM-DD",
                min: "2000-06-16",
                max: "2099-06-16",
                istime: false,
                istoday: false,
                choose: function (datas) {
                    end.min = datas;
                    end.start = datas
                }
            };
            var end = {
                elem: "#end",
                format: "YYYY-MM-DD",
                min: "2000-06-16",
                max: "2099-06-16",
                istime: false,
                istoday: false,
                choose: function (datas) {
                    start.max = datas
                }
            };
            laydate(start);
            laydate(end);
            $(function () {
                $('input, textarea').placeholder();
            });
			</script>  
			<script>  
            $(".right_min").height($(window).height());
			var body_w = $(".right_min").width() - 200;
            var body_h = $(".right_min").height() - 100;
            function xiangQing(forder_id) {
                layer.open({
                    type: 2,
                    title: false,
                    skin: "layui-layer-molv",
                    shade: [0.8, '#000000'],
                    scrollbar: false,
                    maxmin: false,
                    shadeClose: false, //点击遮罩关闭层
                    area: [body_w + "px", body_h + "px"],
                    content: "{:U('forder/orderdetails')}&forder_id=" + forder_id
                });
            }
			
			function fahuo(a){  
				layer.open({
					type: 2,
					title: false,
					skin:"layui-layer-molv",
					shade: [0.5, '#000000'],
					scrollbar:false,
					maxmin: false,
					shadeClose: false, //点击遮罩关闭层
					area : [body_w+"px",body_h+"px"],
					content: '{:U("forder/send")}&forder_id='+a
				});
			} 
        </script> 
    </body>
</html>
