<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>文章列表</title>
        <!--说明文字编码-->
        <meta http-equiv="Content-type" content="text/html" charset="utf-8">
        <!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
        <!--控制状态栏显示样式-->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--解决uc字体变大问题-->
        <meta name="wap-font-scale" content="no">
        <!--手机号码不被显示为拨号链接-->
        <meta content="telephone=no" name="format-detection" />
        <!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="stylesheet" href="__PUBLIC__/expert/css/public.css" />
        <link rel="stylesheet" href="__PUBLIC__/expert/css/common.css" />
        <link rel="stylesheet" href="__PUBLIC__/expert/css/wenzhangguanli.css" />
        <!--<link rel="stylesheet" href="css/app.css" />-->
        <link rel="stylesheet" href="__PUBLIC__/expert/css/mui.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/expert/css/mui.picker.min.css" />
        <script type="text/javascript" src="__PUBLIC__/agcy/js/jquery-3.1.1.min.js" ></script>
    </head>

    <body>
        <div class="header">
            <a href="{:U('index/index')}">
                <img src="__PUBLIC__/expert/images/left.png" />
            </a>
            <p>文章管理</p>
        </div>
        <!--搜索开始-->
        <?php if(count($articlelist)>0):?>
        <div class="sou">
            <div class="search flexb">
                <input type="text" placeholder="输入文章标题检索" id="article_title" value="{$title}"/>
                <button onclick="refresh()" style="background: #60affa;">刷新</button>
            </div>
            <div class="search flexb">
                <div class="time flexb">
                    <div>
                        <button id='demo2' data-options='{"type":"date","beginYear":2000,"endYear":2018}' class="btn1">{$start}</button>
                        <img src="__PUBLIC__/expert/images/icon-calendar.png" />
                    </div>
                    <div>
                        <button id='demo3' data-options='{"type":"date","beginYear":2000,"endYear":2018}' class="btn2">{$end}</button>
                        <img src="__PUBLIC__/expert/images/icon-calendar.png" />
                    </div>
                </div>
                <button onclick="search()">查询</button>
            </div>
        </div>
        <?php endif;?>
        <!--搜索结束-->
        <div class="cont">
            <!--循环--> 
            <div  id='content'>
                <?php if(count($articlelist)>0):?>
                <?php foreach($articlelist AS $k=>$v):?>
                <div class="list"> 
                    <img src="<?=$v['expert_article_image']?>" onclick="detail(<?=$v['expert_article_id']?>)"/>
                    <p class="omit2" onclick="detail(<?=$v['expert_article_id']?>)"><?=$v['expert_article_title']?></p>
                    <p onclick="detail(<?=$v['expert_article_id']?>)">时间：<?=$v['expert_article_addtime']?></p>
                    <div class="footerr flexb">
                        <div class="flexb">
                            <img src="__PUBLIC__/expert/images/good.png" />
                            <p><?=$v['expert_article_like']?></p>
                        </div>
                        <div class="flexb">
                            <img src="__PUBLIC__/expert/images/message.png" />
                            <p><?=$v['expert_article_comment']?></p>
                        </div>
                    </div> 
                    <button  onclick="edit(<?=$v['expert_article_id']?>)">编辑</button>
                </div> 
                <?php endforeach;?>
                <?php else:?> 
                <div class="meiyouneirong" style="display:block;margin-top:10%;">
                    <i><img src="__PUBLIC__/agcy/images/li_wdxx_img.png"/></i>
                    <p>暂无信息</p>
                </div>
                <?php endif;?>
            </div>
            <!--循环-->
            <div class="li_myxx_zt" id="li_myxx_zt" style="display:none" >
                <p>亲，到底了~</p> 
            </div>
            <div id="loadings" style="width:30px;height:30px;position:fixed;left:50%;top:50%; margin-left:-15px; margin-top:-15px; display:none;z-index:99999;">
                <img src="__PUBLIC__/agcy/images/5-130H2191536.gif">
            </div>
            <button  style="display:none" id="more" data='1' datatype="1" class="btn00">加载更多</button>
            <style>
                .li_myxx_zt{height: 30px; line-height: 30px; background:#f5f5f5;}
                .li_myxx_zt p{ text-align:center; font-size:12px; color:#cacaca;}
                .meiyouneirong {
                    width: 100%;
                    margin-top: 100px;
                    display: none;
                }
                .meiyouneirong i {
                    display: block;
                    width: 100px;
                    margin: 0 auto;
                }
                .meiyouneirong i img {
                    display: block;
                    width: 100%;
                }
                .meiyouneirong p {
                    text-align: center;
                    font-size: 13px;
                    color: #cacaca;
                    margin-top: 8px;
                }
            </style>
        </div>
        <!--发布按钮-->
        
        <button id="btnn" class="btnn" onclick='fabuwenzhang()' style="position:fixed;bottom: 0;left:2%;margin-bottom:0;">发布文章</button>
        <div class="clear" style="height:4.3rem;"></div>
        <script type="text/javascript" src="__PUBLIC__/expert/js/screenSize.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/expert/js/mui.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/expert/js/mui.picker.min.js" ></script>
        <script>
                        (function ($) {
                            $.init();
                            var result = $('#demo2')[0];
                            var btns = $('.btn1');
                            btns.each(function (i, btn) {
                                btn.addEventListener('tap', function () {
                                    var _self = this;
                                    if (_self.picker) {
                                        _self.picker.show(function (rs) {
                                            result.innerText = rs.text;
                                            _self.picker.dispose();
                                            _self.picker = null;
                                        });
                                    } else {
                                        var optionsJson = this.getAttribute('data-options') || '{}';
                                        var options = JSON.parse(optionsJson);
                                        var id = this.getAttribute('id');
                                        /*
                                         * 首次显示时实例化组件
                                         * 示例为了简洁，将 options 放在了按钮的 dom 上
                                         * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
                                         */
                                        _self.picker = new $.DtPicker(options);
                                        _self.picker.show(function (rs) {
                                            /*
                                             * rs.value 拼合后的 value
                                             * rs.text 拼合后的 text
                                             * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
                                             * rs.m 月，用法同年
                                             * rs.d 日，用法同年
                                             * rs.h 时，用法同年
                                             * rs.i 分（minutes 的第二个字母），用法同年
                                             */
                                            result.innerText = rs.text;
                                            /* 
                                             * 返回 false 可以阻止选择框的关闭
                                             * return false;
                                             */
                                            /*
                                             * 释放组件资源，释放后将将不能再操作组件
                                             * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
                                             * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
                                             * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
                                             */
                                            _self.picker.dispose();
                                            _self.picker = null;
                                        });
                                    }

                                }, false);
                            });
                        })(mui);
        </script>
        <script>
            (function ($) {
                $.init();
                var result = $('#demo3')[0];
                var btns = $('.btn2');
                btns.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var _self = this;
                        if (_self.picker) {
                            _self.picker.show(function (rs) {
                                result.innerText = rs.text;
                                _self.picker.dispose();
                                _self.picker = null;
                            });
                        } else {
                            var optionsJson = this.getAttribute('data-options') || '{}';
                            var options = JSON.parse(optionsJson);
                            var id = this.getAttribute('id');
                            /*
                             * 首次显示时实例化组件
                             * 示例为了简洁，将 options 放在了按钮的 dom 上
                             * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
                             */
                            _self.picker = new $.DtPicker(options);
                            _self.picker.show(function (rs) {
                                /*
                                 * rs.value 拼合后的 value
                                 * rs.text 拼合后的 text
                                 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
                                 * rs.m 月，用法同年
                                 * rs.d 日，用法同年
                                 * rs.h 时，用法同年
                                 * rs.i 分（minutes 的第二个字母），用法同年
                                 */
                                result.innerText = rs.text;
                                /* 
                                 * 返回 false 可以阻止选择框的关闭
                                 * return false;
                                 */
                                /*
                                 * 释放组件资源，释放后将将不能再操作组件
                                 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
                                 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
                                 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
                                 */
                                _self.picker.dispose();
                                _self.picker = null;
                            });
                        }

                    }, false);
                });
            })(mui);
            $(function () {
                //页面滚动的时候绑定事件
                $(window).scroll(function () {
                    getData();
                });
            })

            function getData() {
                totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop()) + 1;
                //浏览器的高度加上滚动条的高度 （页面总高度）
                if ($(document).height() <= totalheight) {
                    //当文档的高度小于或者等于总的高度的时候，开始动态加载数据（当前文档的位置）
                    //加载
                    $("#loadings").fadeIn();
                    //根据条件获取对应的项目条数
                    getmore();//使用模板加载更多
                    //加载完毕          
                    $("#loadings").fadeOut();
                }
            }
            function getmore() {
                var page = parseInt($("#more").attr("data")) + 1;
                var title = $("#article_title").val();
                var start = $("#demo2").text();
                var end = $("#demo3").text();
                $('#more').attr("data", page);//重置当前页数  
                $.get("{:U('article/articlelist')}", {"p": page, "title": title, "end": end, "start": start}, function (data) {
                    if (data) {
                        $("#content").append(data);
                    } else {
                        $(".li_myxx_zt").show();
                    }
                })
            }

            //搜索
            function search() {
                //标题 开始时间 结束时间
                var title = $("#article_title").val();
                var start = $("#demo2").text();
                var end = $("#demo3").text();
                window.location.href = "{:U('article/articlelist')}&title=" + title + "&start=" + start + "&end=" + end; 
            }
            //刷新
            function refresh() {
                window.location.href = "{:U('article/articlelist')}";
            }
            //编辑
            function edit(article_id){ 
                window.location.href = "{:U('article/edit_article')}&article_id=" + article_id;
            }
            //详情
            function detail(article_id){ 
                window.location.href = "{:U('article/articledetail')}&article_id=" + article_id;
            }
            function fabuwenzhang(){
                window.location.href = "{:U('article/add_article')}";
            }
        </script>
    </body>

</html>