.sou{
	height: 8rem;
	padding: 0 0.64rem;
	border-bottom: 0.6rem solid #f0f0f0;
}
.search{
	margin-top: 0.72rem;
}
.search>input{
	border: #dcdcdc 1px solid;
	border-radius: 0.4rem;
	width: 21rem;
	line-height: 2.72rem;
	font-size: 0.96rem;
	padding:0 1rem;
}
.search>button{
	border: none;
	background: #5faffa;
	color: #FFFFFF;
	border-radius: 0.4rem;
	width: 6rem;
	line-height: 2.72rem;
	font-size: 0.96rem;
}
.time{
	width: 21rem;
}
.time div{
	position: relative;	
}
.time div button{
	width: 10.3rem;
	border: none;
	background: none;
	border: #dcdcdc 1px solid;
	border-radius: 0.4rem;
	height: 2.72rem;
	text-align: left;
	padding-left: 0.3rem;
    font-size:0.96rem;
}
.time div img{
	position: absolute;
	width: 1.6rem;
	top: 0.64rem;
	right: 0.84rem;
}
.table{
	padding-top:1.52rem;
}
.title div{
	background: #3ab849;
	color: #FFFFFF;
	border: 1px solid #ededed;
	width: 19%;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	font-size: 1.04rem;
}
.title div:nth-of-type(3){
	width: 24%;
}
.nr div{
	color: #363636;
	border: 1px solid #dcdcdc;
	width: 19%;
	height: 3.52rem;
	text-align: center;
	font-size: 0.8rem;
	line-height: 3.52rem;
}
.nr div:nth-of-type(3){
	width: 24%;
}
.nr div a{
	display: block;
	position: relative;
	color: #ff0202;
}
.nr div a img{
	position: absolute;
	top: 1.26rem;
	right: 0.4rem;
	height: 1rem;
}
