.ll{
	padding: 0 0.64rem;
}
.ll li{
	border-bottom: 1px solid #F5F5F5;
	
}
.ll li p{
	line-height: 2rem;
	font-size: 1.2rem;
	color: #363636;
	padding:1rem 0;
}
.ll li p span{
	float:right;
	color:#aba9a9;
}

