<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>积分订单统计</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">系统设置</a></li>
					<li> > </li>
					<li><a href="###">积分订单统计</a></li>
				</ul>
			</div>
			<div class="min">
				<!--查询-->
				<div class="query">
					<form  name="seachform" id="seachform"  action="{:U('jifen/jifenpop')}"  method="post" class="form"  > 
						  
						<div class="form_input mg_trb form-date">
							<label class="text">日期</label>
							<input type="text" class="laydate-icon layer-date" name="info[starttime]"  value="{$starttime}"  id="start" placeholder="开始时间" readonly/>
							<span>--</span>
							<input type="text" class="laydate-icon layer-date" name="info[endtime]"  value="{$endtime}"  id="end" placeholder="结束时间" readonly/>
						</div>
						<div class="button mg_trb" onclick="location.href='{:U('jifen/jifenpop')}'">
							<i class="fa fa-refresh ico"></i>
							<input type="button" value="刷新" class="but chongzhi" />
						</div>
						
						<div class="button mg_trb chaxun">
							<i class="fa fa-search ico"></i>
							<input type="submit" value="查询" class="but"  style="    position: absolute; background: none;z-index: 2;"/>
						</div>
					</form>
				</div>
			
				<div class="table_box">
					<table class="table" border="" cellspacing="" cellpadding="">
						
						<thead>
							<tr>
								<th>日期</th> 
								<th>笔数</th> 
								<th>兑换积分</th>
							</tr>
						</thead>
						<tbody>
							<volist name="infolist" id="list_">
							<tr>
								<td>{$list_.dayinfo}</td> 
								<td>{$list_.count}</td> 
								<td>{$list_.pop_fact}</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>				
				{$pageshow}
			</div>
		</div>
	</body>
</html>
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<script> 
    var start = {
        elem: "#start",
        format: "YYYY-MM-DD",
        min: "2000-06-16",
        max: "2099-06-16",
        istime: false,
        istoday: false,
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end = {
        elem: "#end",
        format: "YYYY-MM-DD",
        min: "2000-06-16",
        max: "2099-06-16",
        istime: false,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }
    };
    laydate(start);
    laydate(end);
</script>
<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
		$('input, textarea').placeholder();
	});
</script>
<script type="text/javascript">
	$(function(){
		$(".right_min").height($(window).height());
	});

</script>
