<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>积分商品商城</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css"> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
        <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script> 
    </head>
    <body>
        <div class="right_min">
            <div class="crumbs_nav">
                <i class="iconfont icon-shouye"></i>
                <ul>
                    <li><a href="{:U('index/welcome')}">首页</a></li>
                    <li> > </li>
                    <li><a href="###">积分商城</a></li> 
                    <li> > </li>
                    <li><a href="{:U('jifen/index')}">商品管理</a></li>
                </ul>
            </div>
            <div class="min">
                <!--查询-->
                <div class="query">
                    <form name="seachform" id="seachform" action="{:U('jifen/jifen_goods')}"  method="post" class="form">
                        <div class="form_input mg_trb">
                            <label class="text">商品名称</label>
                            <input type="text" name="info[goods_name_s]" value="{$goods_name}" placeholder="商品名称" maxlength="50"/>
                        </div> 
                        <div class="select mg_trb">
                            <span class="text">一级分类</span>
                            <select name="info[yiji_s]" onchange="get_erji(this)">
                                <option value="0">--请选择--</option> 
                                <?php foreach($yiji AS $v):?>
                                <option value="<?=$v['jifen_classify_id']?>" <?php if($v['jifen_classify_id']==$yiji_s){echo "selected";}?>><?=$v['jifen_classify_name']?></option> 
                                <?php endforeach;?>
                            </select>
                        </div>
                        <div class="select mg_trb">
                            <span class="text">二级分类</span>
                            <select name="info[erji_s]" id='erji'>
                                <option value="">--请选择--</option>
                                <?php foreach($erji AS $v):?>
                                <option value="<?=$v['jifen_classify_id']?>" <?php if($v['jifen_classify_id']==$erji_s){echo "selected";}?>><?=$v['jifen_classify_name']?></option> 
                                <?php endforeach;?>
                            </select>
                        </div>
                        <div class="button mg_trb" onclick="location.href = '{:U(\'jifen/jifen_goods\',array(\'info[yiji_s]\'=>$yiji_s,\'info[erji_s]\'=>$erji_s))}'">
                            <i class="fa fa-refresh ico"></i>
                            <input type="button" value="刷新" class="but chongzhi" />
                        </div>
                        <div class="button mg_trb chaxun">
                            <i class="fa fa-search ico"></i>
                            <input type="submit" value="查询" class="but " style="position: absolute; background: none;z-index: 2;"/>
                        </div>
                    </form>
                </div>
                <div class="tianjia">
                    <a class="tianjia_but" href="{:U('jifen/add_goods')}">
                        <i class="fa fa-plus"></i>
                        新增商品
                    </a>
                </div>
                <div class="table_box">
                    <table class="table" border="" cellspacing="" cellpadding=""> 
                        <thead>
                            <tr>
                                <th>编号</th> 
                                <th>商品名称</th>
                                <th>一级分类</th>
                                <th>二级分类</th> 
                                <th>所需积分</th> 
                                <th>库存数量</th> 
                                <th>销售量</th>  								
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="listinfo" id="content">
                            <tr>
                                <td>{$content.jifen_goods_id}</td>  
                                <td>{$content.jifen_goods_name}</td> 
                                <td>{$content.yiji_name}</td>
                                <td>{$content.erji_name}</td> 
                                <td>{$content.jifen_goods_price}</td> 
                                <td>{$content.jifen_goods_num}</td>  
								<td>{$content.jifen_goods_buynum}</td>  
                                <td> 
									<a onclick="xiangQing({$content.jifen_goods_id})"  class="but chaxun">
										<i class="fa fa-eye"></i>
										查看详情
									</a>
                                    <a href="{:U('jifen/edit_goods',array('goods_id'=>$content['jifen_goods_id']))}"  class="but chaxun">
                                        <i class="fa fa-edit"></i>
                                        编辑
                                    </a>
                                    <a href="{:U('jifen/delete_goods',array('goods_id'=>$content['jifen_goods_id']))}" onclick="{
                                                if (confirm('确认删除?')) {
                                                    return true;
                                                }
                                                return false;
                                            }"  class="but chongzhi">
                                        <i class="fa fa-trash-o"></i>
                                        删除
                                    </a> 
                                </td>
                            </tr> 
                        </volist>
                        </tbody>
                    </table>
                </div>
                {$pageshow}
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    $(function () {
        $(".right_min").height($(window).height());
    });
    //二级分类 
    function get_erji(obj) {
        $("#erji").html("<option value='0' >--请选择--</option> ");
        var yiji_id = $(obj).val()
        if (yiji_id == 0)
            return;
        $.getJSON("{:U('jifen/get_erji')}&yiji_id=" + yiji_id, function (data) {
            var html = "";
            for (var i = 0; i < data.length; i++) {
                html += "<option value=" + data[i].jifen_classify_id + ">" + data[i].jifen_classify_name + "</option>";
            }
            $("#erji").append(html);
        });
    }
</script>  
<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () { 
        $('input, textarea').placeholder();
    });
</script>
<script src="__PUBLIC__/admin/js/layer/layer.js"></script> 
<script>
		    
			$(".right_min").height($(window).height());
			var body_w = $(".right_min").width() - 200;
			var body_h = $(".right_min").height() - 100;
				
			function xiangQing(jifen_goods_id) {
				layer.open({
					type: 2,
					title: false,
					skin: "layui-layer-molv",
					shade: [0.8, '#000000'],
					scrollbar: false,
					maxmin: false,
					shadeClose: false, //点击遮罩关闭层
					area: [body_w + "px", body_h + "px"],
					content: "{:U('Jifen/commoditydetails')}&jifen_goods_id=" + jifen_goods_id
				});
			}
</script>
