<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
    <link href="__PUBLIC__/validform/Validform.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/validform/Validform_v5.3.2.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
    <script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script> 
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K) { 
        var editor = K.editor({
            allowFileManager : true
        });

        //上传本地图片
        K('#uploadButton').click(function() {
            editor.loadPlugin('image', function() {
                editor.plugin.imageDialog({
                    showRemote : false,
                    imageUrl : K('#image').val(), 
                    clickFn : function(url, title, width, height, border, align) { 
                        var data = K.formatUrl(url, 'domain');
                        K('#image').val(data);
                        editor.hideDialog();
                    }
                });
            });
        });
                 
         
    });
    
</script>

</head>
<style>
	.form-button .ke-inline-block.but{margin-top:0;}
	.form-button .ke-button-common{display:block;width:100%; height:100%; line-height:38px; background:none;}
	.form-button .ke-button-common.ke-button{color:#fff; font-size:16px;}
	.form-button .ke-upload-area.ke-form .ke-upload-file{display:block;width:100% !important; height:100%;     cursor: pointer;}
</style>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">系统设置</a></li>
            <li> > </li>
            <li><a href="{:U('Product/index')}">产品形态</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">产品形态添加</a></li>
        </ul>
    </div>
    <div class="min">
        <div class="form_box">
            <form name="myform" id="myform" action="{:U('Product/Productadd')}" method="post">
                <div class="form-item">
                    <label class="form-label">产品形态名称</label>
                    <div class="form-text form-input-block">
                        <input name="gs_title" id="gs_title" type="text" class="dfinput" datatype="*2-20" errormsg="产品形态名称字数在2~20位之间！" maxlength="20" />
                        <i class="Validform_checktip"></i>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label">产品形态</label>
                    <div class="form-select form-input-block">
                        <select name="gs_isable" class="dfinput" datatype="*" errormsg="请选择幻灯类型!" >
                            <option value="">--请选择产品形态类型--</option>
                            <volist name="focusType" id="data" >
                                <option value="{$key}">{$data}</option>
                            </volist>
                        </select>
                        <i class="Validform_checktip"></i>
                    </div>
                </div>
				<div class="form-item">
					<label class="form-label">产品形态图片</label>
					<div class="form-text form-input-inline w40">
						<input type="text" name="gs_image" id="image" datatype="*" errormsg="请上传图片!" placeholder="请上传图片" readonly/>

						<i class="Validform_checktip" id="tp1"></i>
                        <span style="font-size: 12px;color:red;">（注：图片大小：720px*315px）</span>
					</div>

					<div class="form-button form-input-inline">
						<input class="but shenhe mg_t0" type="button" id="uploadButton"  class="chaxun but" value="上传" />
					</div>

				</div> 
                    
                <div class="form-item">
                    <div class="form-button form-input-block">
                        <input class="chaxun but" type="submit" value="提交"/>
                        <button class="but chongzhi" type="button" onclick="location.href='{:U('Product/index')}'">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".right_min").height($(window).height());

        $('.skin-section input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('input').on('ifChecked', function(event){
            //alert($(this).val());
        });
    });
</script>
<script>
    $(function(){
        $("#myform").Validform({
            //tiptype:2
            tiptype:function(msg,o,cssctl){
                var objtip=o.obj.siblings(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
            }
        });
    });
</script>