<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>欠条编辑</title>
		<!--说明文字编码-->
		<meta http-equiv="Content-type" content="text/html" charset="utf-8">
		<!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
		<!--控制状态栏显示样式-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--解决uc字体变大问题-->
		<meta name="wap-font-scale" content="no">
		<!--手机号码不被显示为拨号链接-->
		<meta content="telephone=no" name="format-detection" />
		<!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/common.css" />
		<script type="text/javascript" src="__PUBLIC__/agcy/js/jquery-1.10.2.min.js"></script>
		<style>
			.txt{
				width: 90%;
				height: 15rem;
				resize: none;
				display: block;
				margin: 2rem auto;
				border: 1px solid #dfdfdf;
				border-radius: 0.4rem;
				line-height: 180%;
				font-size: 1.2rem;
				padding: 0.5rem;
			}
			.name{
				width: 90%;
				height: 2rem;
				display: block;
				margin: 1rem auto;
				border: 1px solid #dfdfdf;
				border-radius: 0.4rem;
				line-height: 2rem;
				font-size: 1.2rem;
				padding: 0.5rem;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<a href="javascript:history.go(-1) ">
				<img src="__PUBLIC__/agcy/images/left.png" />
			</a>
			<p>欠条编辑</p>
		</div>
		<input class="name" type="text" id="name" placeholder="请输入欠款人姓名"  maxlength="10"/>
		<div class="you">
		<textarea class="txt"  rows="" cols="" placeholder="请输入欠款详情" maxlength="200" ></textarea>
		</div>
		<button class="btnn" onclick="tijiao()">确定</button>
		<script type="text/javascript" src="__PUBLIC__/agcy/js/screenSize.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/layer/layer.js" ></script> 
	</body>

</html>
<script>
	function tijiao(){
		var name = $.trim($("#name").val()); 
		var remark = $.trim($(".you textarea").val()); 
		if(name==""){ 
            layer.msg('请输入欠款人姓名！',{icon:5,time:1000});
            $("#name").focus();
			return false;
		}   
		if(remark==""){
            layer.msg('请输入欠款详情！',{icon:5,time:1000}); 
            $(".you textarea").focus();
			return false;
		} 
		$.getJSON("{:U('index/add')}&name="+name+"&remark="+remark, function (res) {
             
			data = res.data; 
			if(data==1){ 
                layer.msg('新增成功！',{icon:6,time:1000}, function () {
                    window.location = "{:U('index/qiantiaoguanli')}";
                });
			}else{ 
                layer.msg('新增失败！',{icon:5,time:1000}), function () {
                    window.location = "{:U('index/qiantiaoguanli')}"; 
                } 
			}
		}); 
	}
</script>