<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商家中心</title>
		<!--说明文字编码-->
		<meta http-equiv="Content-type" content="text/html" charset="utf-8">
		<!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
		<!--控制状态栏显示样式-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--解决uc字体变大问题-->
		<meta name="wap-font-scale" content="no">
		<!--手机号码不被显示为拨号链接-->
		<meta content="telephone=no" name="format-detection" />
		<!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/common.css" />
		<link rel="stylesheet" href="__PUBLIC__/agcy/css/index.css" />
	</head>

	<body>
        <style>
             .botton_bg{width: 100%; height: 42px; padding: 0 10px; display: block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
            .botton_bg .bot{display:block;width: 100%; height: 100%; text-align: center; font-size: 16px; color: #fff; border: none; background: none; background: #3ab849; border-radius: 5px; line-height: 42px;}
        </style>
		<div class="header">
			<p>商家中心</p>
		</div>
		<div class="top">
			<img src="{$agcy_face_images}" />
			<img src="__PUBLIC__/agcy/images/phone.png" />
			<img src="__PUBLIC__/agcy/images/num.png" />
			<p>{$agcy.agcy_name}</p>
			<p>电话：{$agcy.agcy_tel}</p>
			<p>积分：{$agcy.agcy_points}</p> 
			<button onclick='window.location.href="{:U("index/information")}"'>编辑信息</button>
		</div>
		<div class="center flexb">
			<div onclick='window.location.href="{:U("index/yingyeshouru")}"'>
				<img src="__PUBLIC__/agcy/images/money.png" />
				<p>营业收入(元)</p>
				<p>{$agcy.agcy_money}</p>
			</div>
			<div onclick='window.location.href="{:U("orderlist/index")}"'>
				<img src="__PUBLIC__/agcy/images/list.png" />
				<p>今日订单(单)</p>
				<p>{$ordernum}</p>
			</div>
		</div>
		<div class="menu flexbb">
			<a href="{:U('ordermanagement/index')}">
				<img src="__PUBLIC__/agcy/images/m5.png" />
				<p>订货管理</p>
			</a>
			<a href="{:U('index/shangjiaxinxi')}">
				<img src="__PUBLIC__/agcy/images/m2.png" />
				<p>商家信息</p>
			</a>
			<a href="{:U('user/userlist')}">
				<img src="__PUBLIC__/agcy/images/m3.png" />
				<p>客户管理</p>
			</a>
			<a href="{:U('product/productlist')}">
				<img src="__PUBLIC__/agcy/images/m4.png" />
				<p>商品管理</p>
			</a>
			<a href="{:U('activity/shangjiaerweima',array('agcy_id'=>$agcy_id))}">
				<img src="__PUBLIC__/agcy/images/m1.png" />
				<p>商家二维码</p>
			</a>
			<a href="{:U('loans/nzdk')}">
				<img src="__PUBLIC__/agcy/images/m6.png" />
				<p>农资贷款</p>
			</a>
			<a href="{:U('orderlist/index')}">
				<img src="__PUBLIC__/agcy/images/m7.png" />
				<p>农户订单</p>
			</a>
			<!--<a href="{:U('orderjifen/index')}">
				<img src="__PUBLIC__/agcy/images/m7.png" />
				<p>积分订单</p>
			</a>-->
			<a href="{:U('integral/index')}">
				<img src="__PUBLIC__/agcy/images/m8.png" />
				<p>我的积分</p>
			</a>
			<a href="{:U('index/tongji')}">
				<img src="__PUBLIC__/agcy/images/m9.png" />
				<p>数据统计</p>
			</a>
			<a href="{:U('index/qiantiaoguanli')}">
				<img src="__PUBLIC__/agcy/images/m10.png" />
				<p>欠条管理</p>
			</a>
            <a href="{:U('message/index')}">
				<img src="__PUBLIC__/agcy/images/m11.png" />
				<p>
				<?php if($message>0):?>
				   <span style="display: inline-block;margin-bottom: 0.25rem;margin-right: 0.25rem;background: red;width: 0.5rem;height: 0.5rem;border-radius: 0.25rem;"></span>
				<?php endif;?>
				我的消息</p>
			</a>
		</div>
        <div class="botton_bg" style="margin:30px auto" onclick="outlogin()">
            <span class="bot" >退出登录</span>
        </div>
		<script type="text/javascript" src="__PUBLIC__/agcy/js/screenSize.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/agcy/js/jquery-1.10.2.min.js"></script>
	</body>
     <script>
	 function outlogin(){
	      location.href="{:U('index/outlogin')}";
	 }
	 </script>
</html>