<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>轮播管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">系统设置</a></li>
            <li> > </li>
            <li><a href="javascript:void(0);">轮播管理</a></li>
        </ul>
    </div>
    <div class="min">
        <!--查询-->

        <div class="query">
            <form  name="seachform" id="seachform"  action="{:U('Carousel/index')}"  method="post" class="form"  >
                <div class="form_input mg_trb">
                    <label class="text">快速检索</label>
                    <input type="text" name="info[focus_title]" id="focus_title" value="{$focus_title}"  placeholder="请输入标题"  maxlength="15"/>
                </div>
                <div class="select mg_trb">
                    <span class="text">轮播类型</span>
                    <select name="info[focus_type]">
                        <option value="">--请选择类型--</option>
                        <volist name="focusType" id="data">
                            <option value="{$key}" <if condition="$key eq $focus_type ">selected</if>>{$data}</option>
                        </volist>
                    </select>
                </div>
                <div class="button mg_trb" onclick="location.href='{:U('Carousel/index')}'">
                    <i class="fa fa-refresh ico"></i>
                    <input type="button" value="刷新" class="but chongzhi" />
                </div>

                <div class="button mg_trb chaxun">
							<i class="fa fa-search ico"></i>
							<input type="submit" value="查询" class="but " style="    position: absolute; background: none;z-index: 2;" />
						</div>
            </form>
        </div>
        <!--添加幻灯-->
        <div class="tianjia">
            <a class="tianjia_but" href="{:U('Carousel/Carouseladd')}">
                <i class="fa fa-plus"></i>
                添加轮播
            </a>
        </div>
        <div class="table_box">
            <table class="table" border="" cellspacing="" cellpadding="">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>标题</th>
                    <th>图片</th>
                    <th>轮播类型</th>
                    <!--<th>排序</th>-->
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="focusInfo" id="focus">
                    <tr>
                        <td>{$focus.focus_id}</td>
                        <td>{$focus.focus_title}</td>
                        <td style="width:  200px;"><img style="height: 50px;width:80px;"  src="{$focus.focus_image}"/></td>
                        <td>{$focus.focusclassify_name}</td>
                        <!--<td>{$focus.focus_sort}</td>-->
                        <td><?php echo date('Y-m-d H:i:s',$focus['focus_addtime']);?></td>
                        <td>
                            <a href="{:U('Carousel/Carouseledit',array('focus_id'=>$focus['focus_id']))}" class="but chaxun">
                                <i class="fa fa-edit"></i>
                                编辑</a>
                                <a href="{:U('Carousel/Carouseldel',array('focus_id'=>$focus['focus_id']))}" onclick="{if(confirm('确认删除?')){return true;}return false;}" class="but chongzhi">
                                    <i class="fa fa-trash-o"></i>
                                    删除</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        {$pageshow}
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $(".right_min").height($(window).height());
    });
</script>
