<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>农技知识分类</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/switch-buttons.css">
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="{:U('index/welcome')}">首页</a></li>
            <li> > </li>
            <li><a href="###">三农服务</a></li>
            <li> > </li>
            <li><a href="{:U('bookclassify/index')}">农技知识分类</a></li>
            <?php if($father_id == 0):?>
            <?php else:?>
            <li> > </li>
            <li><a href="###">{$father_name}</a></li>
            <?php endif;?>
        </ul>
    </div>
    <div class="min">
        <!--查询-->
        <div class="query">
            <form name="seachform" id="seachform" action="{:U('skill/index',array('skc_id'=>$fid))}"  method="post" class="form">
                <div class="form_input mg_trb">
                    <label class="text">分类名称</label>
                    <input type="text" name="info[skc_title]" value="{$skc_title}" placeholder="分类名称" maxlength="50"/>
                </div>
                <div class="select mg_trb">
                    <span class="text">分类状态</span>
                    <select name="info[skc_isable]">
                        <option value="">--请选择分类状态--</option>
                        <volist name="cpc_isable" id="data">
                            <option value="{$key}" <if condition="$key eq $skc_isable ">selected</if>>{$data}</option>
                        </volist>
                    </select>
                </div>
                <div class="button mg_trb" onclick="location.href = '{:U(\'skill/index\',array(\'skc_id\'=>$fid))}'">
                    <i class="fa fa-refresh ico"></i>
                    <input type="button" value="刷新" class="but chongzhi" />
                </div>
                <div class="button mg_trb chaxun">
                    <i class="fa fa-search ico"></i>
                    <input type="submit" value="查询" class="but " style="position: absolute; background: none;z-index: 2;"/>
                </div>
            </form>
        </div>
        <div class="tianjia">
            <input type="hidden" value="{$fid}"/>
            <?php if($fid == 0):?>
            <a class="tianjia_but" href="{:U('skill/add')}">
                <i class="fa fa-plus"></i>
                新建农技知识分类
            </a>
            <?php else:?>
            <a class="tianjia_but" href="{:U('skill/add',array('skc_fid'=>$fid))}">
                <i class="fa fa-plus"></i>
                新建农技知识子分类
            </a>
            <?php endif;?>
        </div>
        <div class="table_box">
            <table class="table" border="" cellspacing="" cellpadding="">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>分类名称</th>
                    <th>分类图标</th>
                    <?php if($fid != 0):?>
                    <th>父级分类</th>
                    <?php endif;?>
                    <!--<th>分类说明</th>-->
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="skill" id="content">
                    <tr>
                        <td>{$content.skc_id}</td>
                        <if condition="$fid eq 0">
                            <td>{$content.skc_title}</td>
                            <else/>
                            <td><a href="{$content.skc_url}">{$content.skc_title}</a></td>
                        </if>
                        <?php if($content['skc_image']!=""):?>
                        <td><img src="{$content.skc_image}" style="width:60px;height:50px;"/></td>
                        <?php else:?>
                        <td>---</td>
                        <?php endif;?>
                        <?php if($fid != 0):?>
                        <td>{$father_name}</td>
                        <?php endif;?>
                        <!--<td>{$content.skc_remarks}</td>-->
                        <td>
                            <label class="switch-btn circle-style" style="margin: 0 auto;">
                                <input class="checked-switch" type="checkbox" onchange="checkedswitchs(this,{$content.skc_id},'skc_isable')"
                                <if condition="$content['skc_isable'] eq 1">checked</if> />
                                <span class="text-switch" data-yes="启用" data-no="禁用"></span>
                                <span class="toggle-btn"></span>
                            </label>
                        </td>
                        <td>
                            <a href="{:U('skill/edit',array('skc_id'=>$content['skc_id']))}"  class="but chaxun">
                                <i class="fa fa-edit"></i>
                                编辑
                            </a>
                            <?php if($fid == 0):?>
                            <a href="{:U('skill/index',array('skc_id'=>$content['skc_id']))}"  class="but chaxun">
                                <i class="fa fa-edit"></i>
                                子分类({$content.childcount})
                            </a>
                            <?php endif;?>
                            <a href="{:U('skill/del',array('skc_id'=>$content['skc_id']))}" onclick="{
                                                if (confirm('确认删除?')) {
                                                    return true;
                                                }
                                                return false;
                                            }"  class="but chongzhi">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        {$pageshow}
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    //显示开关1显示；2隐藏
    function checkedswitchs(obj,cpc_id,field){
        if($(obj).is(':checked')){	//true
            console.log("显示"+cpc_id);
            $.getJSON("{:U('skill/ajaxable_on_')}&id="+cpc_id+"&field="+field,function(){
            });
        }else{	//false
            console.log("隐藏"+cpc_id);
            $.getJSON("{:U('skill/ajaxable_off_')}&id="+cpc_id+"&field="+field,function(){
            });

        }
    }
    $(function () {
        $(".right_min").height($(window).height());
    });
</script>
<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        $('input, textarea').placeholder();
    });
</script>
