<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户详情</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
	<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
	<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
	<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
	<link rel="stylesheet" href="__PUBLIC__/tupian/css/lightbox.css">
</head>
<body >
<div class="right_min">
    <div class="crumbs_nav">
        <i class="iconfont icon-shouye"></i>
        <ul>
            <li><a href="javascript:void(0);">查看详情({$user.realname})</a></li>
        </ul>
    </div>
    <div class="min">
        <div class="message">
			<div class="message-block message-border-t">
				<h4 class="message-left_block">用户详情</h4>
			</div>
			<div class="table_box">
				<table class="table" border="" cellspacing="" cellpadding="">
					<tr>
                        <th style="font-weight:bold">用户姓名</th>
                        <td>{$user.realname}</td>
                        <th style="font-weight:bold">手机号码</th>
                        <td>{$user.phone}</td>
						<th style="font-weight:bold">性别</th>
						<td>
                            <if condition="$user.sex eq 1">
                                男
						    </if>
                            <if condition="$user.sex eq 2">
                                女
                            </if>
                            <if condition="$user.sex eq 3">
							    保密
							</if>
                        </td>
					</tr>
					<tr>
                        <th style="font-weight:bold">头像</th>
                        <td> 
						<a class="example-image-link" href="{$user.avatar}" data-lightbox="example-1" >
							<img class="example-image" style="width:50px;height:50px;" src="{$user.avatar}"/>
						</a> 
						</td>
						<th style="font-weight:bold">联系地址</th>
                        <td>{$user.address}</td>
                        <th style="font-weight:bold">生日</th>
                        <td>{$user.birthday|date="Y-m-d H:i:s",###}</td>
					</tr>
                    <tr>
					    <th style="font-weight:bold">余额</th>
                        <td>{$user.money}</td>
                        <th style="font-weight:bold">推荐人</th>
						<if condition="$user.refree_id eq 0">
						<td>--</td>
						<else />
                        <td>{$getReferName[$user['refree_id']]}</td>
						</if>
						<th style="font-weight:bold">注册时间</th>
						<td>{$user.addtime|date='Y-m-d H:i:s',###}</td>
                    </tr>
				</table>
			</div>
        </div>
    </div>
</div>
</body>
</html>
<script src="__PUBLIC__/tupian/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript">
    $(function(){

        $('.form-checkbox input,.form-radio input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('input').on('ifChecked', function(event){
            //alert($(this).val());
        });
        $(".checkbox-title dd i").click(function(){
            $(this).toggleClass("fa-flip-vertical");
            $(this).parents().siblings(".skin-section").slideToggle(500);
        });



    });
</script>





