<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>商品分类管理</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css"> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
        <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/switch-buttons.css">
    </head>
    <body>
        <div class="right_min">
            <div class="crumbs_nav">
                <i class="iconfont icon-shouye"></i>
                <ul>
                    <li><a href="{:U('index/welcome')}">首页</a></li>
                    <li> > </li>
                    <li><a href="###">商品管理</a></li>
                    <li> > </li>
                    <li>
                    <?php if($father_id == 0):?> 
                        <a href="{:U('goodsclassify/index')}">商品分类</a>
                    <?php else:?> 
                        <a href="{:U('goodsclassify/index')}">商品子分类</a>
                    <?php endif;?>
                    </li> 
                </ul>
            </div>
            <div class="min">
                <!--查询-->
                <div class="query">
                    <form name="seachform" id="seachform" action="{:U('goodsclassify/index',array('father_id'=>$father_id))}"  method="post" class="form">
                        <div class="form_input mg_trb">
                            <label class="text">分类名称</label>
                            <input type="text" name="info[classify_name_s]" value="{$classify_name_s}" placeholder="分类名称" maxlength="50"/>
                        </div> 
						<div class="select mg_trb">
							<span class="text">状态</span>
							<select name="info[f_classify_able]">
								<option value="">--请选择状态--</option>
								<volist name="f_classify_able" id="data">
								<option value="{$key}" <if condition="$key eq $classify_ ">selected</if>>{$data}</option>
								</volist>
							</select>
						</div>
                        <div class="button mg_trb" onclick="location.href = '{:U(\'goodsclassify/index\',array(\'father_id\'=>$father_id))}'">
                            <i class="fa fa-refresh ico"></i>
                            <input type="button" value="刷新" class="but chongzhi" />
                        </div>
                        <div class="button mg_trb chaxun">
                            <i class="fa fa-search ico"></i>
                            <input type="submit" value="查询" class="but " style="position: absolute; background: none;z-index: 2;"/>
                        </div>
                    </form>
                </div>
                <div class="tianjia"> 
                    <?php if($father_id == 0):?> 
                    <a class="tianjia_but" href="{:U('goodsclassify/add')}">
                        <i class="fa fa-plus"></i>
                        新建商品分类
                    </a>
                    <?php else:?> 
                    <a class="tianjia_but" href="{:U('goodsclassify/add',array('father_id'=>$father_id))}">
                        <i class="fa fa-plus"></i>
                        新建商品子分类
                    </a>
                    <?php endif;?>
                </div>
                <div class="table_box">
                    <table class="table" border="" cellspacing="" cellpadding=""> 
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>分类名称</th>
								<th>分类图标</th>
								<?php if($father_id != 0):?> 
                                <th>父级分类</th>
								<?php endif;?>
                                <th>分类说明</th>
								<th>状态</th> 	
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="listinfo" id="content">
                            <tr>
                                <td>{$content.f_classify_id}</td>
                                <td>{$content.f_classify_name}</td>
								<?php if($content['f_classify_image']!=""):?>
								<td><img src="{$content.f_classify_image}" style="width:60px;height:50px;"/></td>
								<?php else:?>
								<td>---</td>
								<?php endif;?>
								<?php if($father_id != 0):?>
                                <td>{$father_name}</td>
								<?php endif;?>
                                <td>{$content.f_classify_remarks}</td> 
								<td>
                                    <label class="switch-btn circle-style" style="margin: 0 auto;">
                                        <input class="checked-switch" type="checkbox" onchange="checkedswitchs(this,{$content.f_classify_id},'f_classify_able')"
                                        <if condition="$content['f_classify_able'] eq 1">checked</if> />
                                        <span class="text-switch" data-yes="启用" data-no="禁用"></span> 
                                        <span class="toggle-btn"></span> 
                                    </label>
                                </td>
                                <td> 
                                    <a href="{:U('goodsclassify/edit',array('f_classify_id'=>$content['f_classify_id']))}"  class="but chaxun">
                                        <i class="fa fa-edit"></i>
                                        编辑
                                    </a>
                                    <?php if($father_id == 0):?>
                                    <a href="{:U('goodsclassify/index',array('father_id'=>$content['f_classify_id']))}"  class="but chaxun">
                                        <i class="fa fa-edit"></i>
                                        子分类({$content.child_count})
                                    </a> 
                                    <?php endif;?>
                                    <a href="{:U('goodsclassify/delete',array('f_classify_id'=>$content['f_classify_id']))}" onclick="{
                                                if (confirm('确认删除?')) {
                                                    return true;
                                                }
                                                return false;
                                            }"  class="but chongzhi">
                                        <i class="fa fa-trash-o"></i>
                                        删除
                                    </a> 
                                </td>
                            </tr> 
                        </volist>
                        </tbody>
                    </table>
                </div>
                {$pageshow}
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    $(function () {
        $(".right_min").height($(window).height());
    });
	//显示开关1显示；2隐藏
	function checkedswitchs(obj,f_classify_id,field){ 
		if($(obj).is(':checked')){	//true
			console.log("显示"+f_classify_id);
			$.getJSON("{:U('goodsclassify/ajaxable_on')}&f_classify_id="+f_classify_id+"&field="+field,function(){
			});
		}else{	//false
			console.log("隐藏"+f_classify_id);
			$.getJSON("{:U('goodsclassify/ajaxable_off')}&f_classify_id="+f_classify_id+"&field="+field,function(){
			});
			
		}
	}
</script>  
<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        $('input, textarea').placeholder();
    });
</script>
