<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>视频专区</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/user/css/mian.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/user/js/Swiper/swiper.min.css"/>
    <script src="__PUBLIC__/user/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 25 * (clientWidth / 720) + 'px';
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
<style type="text/css">
    body{background: #fff;}
</style>
<div class="njzs_xiangxifenlei">
    <div class="component_nav">
        <input type="hidden" id="cpc_id" value="{$cpc_id}" />
        <div class="swiper-container">
            <ul class="swiper-wrapper">
                <input type="hidden" value="{$videos.skc_id}" id="video_id"/>
                <if condition="$videos neq null">
                    <li class="swiper-slide <if condition='$ccc eq 1'>link</if>"  onclick="classQuery({$videos.skc_id},this,1)">
                        <a>{$videos.skc_title}</a>
                    </li>
                </if>
                <volist name="skillclass" id="sclass">
                    <li class="swiper-slide <if condition='$skc_id eq $sclass[skc_id]'>link</if>" onclick="classQuery({$sclass.skc_id},this,2)">
                        <a>{$sclass.skc_title}</a>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
    <div class="xiangxifenlei_video">
        <ul class="c" id="content">
            <volist name="videoInfo" id="video">
                <li>
                    <a onclick="videoDetails({$video.sk_id})">
                        <i>
                            <img src="{$video.sk_img}"/>
                            <em></em>
                        </i>
                        <p>{$video.sk_title}</p>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
</div>
<div id="loadings" style="width:30px;height:30px;position:fixed;left:50%;top:50%; margin-left:-15px; margin-top:-15px; display:none;z-index:99999;">
    <img src="__PUBLIC__/agcy/images/5-130H2191536.gif">
</div>
<button  style="display:none" id="more" data='1' datatype="1" class="btn00">加载更多</button>
<script type="text/javascript" src="__PUBLIC__/agcy/js/screenSize.js" ></script>
<div class="dibufengexian">
    <p>亲，到底了</p>
</div>
<div class="meiyouneirong" style="display:none;margin-top:10%;">
    <i><img src="__PUBLIC__/agcy/images/li_wdxx_img.png"/></i>
    <p>暂无相关视频，敬请期待！</p>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/user/js/Swiper/swiper.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/user/js/jquery.pin.js"></script>
<script type="text/javascript">

    window.onload = function() {
        var swiper = new Swiper('.component_nav .swiper-container', {
            slidesPerView: 'auto',
            paginationClickable: true,
            spaceBetween:0,
            freeMode: true
        });
        //滑动到选中位置
        swiper.slideTo($(".swiper-wrapper").find("li.link").index(), 100);
        $(".component_nav").pin({
            containerSelector: ".njzs_xiangxifenlei"
        })
    }
</script>
<script>
    function  videoDetails(sk_id){
        location.href="{:U('skill/videodetails')}&sk_id="+sk_id;
    }
    //分类查询
    function classQuery(skc_id,obj,c){
        var cpc_id=$('#cpc_id').val();
        $(obj).addClass('link');
        $(obj).siblings('li').removeClass('link');
        location.href="{:U('skill/skilllist')}&asd="+c+"&skc_id="+skc_id+"&cpc_id="+cpc_id;
    }
</script>
<script>
    var count={$count};
    if(count<=0){
        $(".meiyouneirong").show();
    }

    //滚动加载
    $(window).scroll(function () {
        getData();
    });
    var totalheight = 0;     //定义一个总的高度变量
    function getData() {
        totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
        //浏览器的高度加上滚动条的高度 （页面总高度）
        if ($(document).height() <= totalheight) {
            //当文档的高度小于或者等于总的高度的时候，开始动态加载数据（当前文档的位置）
            //加载
            $("#loadings").fadeIn();
            //根据条件获取对应的项目条数
            getmore();//使用模板加载更多
            //加载完毕
            $("#loadings").fadeOut();
        }
    }
    //加载更多
    function getmore(){
        var cpc_id=$('#cpc_id').val();
        var c=1;
        var skc_id=$('#video_id').val();
        var page=parseInt($("#more").attr("data"))+1;
        $('#more').attr("data",page);//重置当前页数
        $.getJSON("{:U('skill/skilllist')}&asd="+c+"&cpc_id="+cpc_id+"&skc_id="+skc_id+"&p="+page,function(data){
            console.log(data);
            var info=data.videoInfo;
            var appendcontent="";
            if(info.length>0){
                for(var i=0;i<info.length;i++){
                    appendcontent+='<li>';
                    appendcontent+='<a onclick="videoDetails('+info[i].sk_id+')">';
                    appendcontent+='    <i>';
                    appendcontent+='    <img src='+info[i].sk_img+'>';
                    appendcontent+='    <em></em>';
                    appendcontent+='    </i>';
                    appendcontent+='    <p>'+info[i].sk_title+'</p>';
                    appendcontent+='</a>';
                    appendcontent+='</li>';
                }
                $('#content').append(appendcontent);
            } else{
                $("#loadings").fadeOut();
                $('.dibufengexian').show();
            }
        })
    }
</script>