<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>经销商产品</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css"> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/switch-buttons.css">
        <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script> 
		<script src="__PUBLIC__/admin/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="right_min">
            <div class="crumbs_nav">
                <i class="iconfont icon-shouye"></i>
                <ul>
                    <li><a href="{:U('index/welcome')}">首页</a></li>
                    <li> > </li>
                    <li><a href="###">经销商管理</a></li> 
                    <li> > </li>
                    <li><a href="{:U('agcygoods/index')}">经销商产品</a></li>
                </ul>
            </div>
            <div class="min">
                <!--查询-->
                <div class="query">
                    <form name="seachform" id="seachform" action="{:U('agcygoods/index')}"  method="post" class="form">
                        <div class="form_input mg_trb">
                            <label class="text">快速检索</label>
                            <input type="text" name="info[book_name_s]" value="{$book_name_s}" placeholder="产品名称/所属经销商" maxlength="50"/>
                        </div> 
                        <div class="select mg_trb">
                            <span class="text">一级分类</span>
                            <select name="info[yiji_s]" onchange="get_erji(this)">
                                <option value="0">--请选择--</option> 
                                <?php foreach($yiji AS $v):?>
                                <option value="<?=$v['agcy_classify_id']?>" <?php if($v['agcy_classify_id']==$yiji_s){echo "selected";}?>><?=$v['agcy_classify_name']?></option> 
                                <?php endforeach;?>
                            </select>
                        </div>
                        <div class="select mg_trb">
                            <span class="text">二级分类</span>
                            <select name="info[erji_s]" id='erji'>
                                <option value="">--请选择--</option>
                                <?php foreach($erji AS $v):?>
                                <option value="<?=$v['agcy_classify_id']?>" <?php if($v['agcy_classify_id']==$erji_s){echo "selected";}?>><?=$v['agcy_classify_name']?></option> 
                                <?php endforeach;?>
                            </select>
                        </div>
						<div class="select mg_trb">
							<span class="text">审核状态</span>
							<select name="info[agcy_goods_states]">
								<option value="">--请选择--</option>
								<volist name="str_cut" id="data">
									<option value="{$key}" <if condition="$key eq $order_ ">selected</if>>{$data}</option>
								</volist>
							</select>
						</div> 
                        <div class="button mg_trb" onclick="location.href = '{:U(\'agcygoods/index\')}'">
                            <i class="fa fa-refresh ico"></i>
                            <input type="button" value="刷新" class="but chongzhi" />
                        </div>
                        <div class="button mg_trb chaxun">
                            <i class="fa fa-search ico"></i>
                            <input type="submit" value="查询" class="but " style="position: absolute; background: none;z-index: 2;"/>
                        </div>
                    </form>
                </div> 
                <div class="table_box">
                    <table class="table" border="" cellspacing="" cellpadding=""> 
                        <thead>
                            <tr>
                                <th>编号</th> 
                                <th>产品名称</th>
                                <th>一级分类</th>
                                <th>二级分类</th> 
								<th>一级返佣比例</th> 
								<th>二级返佣比例</th> 
								<th>三级返佣比例</th> 
								<th>所属经销商</th> 
								<th>所属厂家</th>
								<th>类别</th>
								<th>审核状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="listinfo" id="content">
                            <tr>
                                <td>{$content.agcy_goods_id}</td>  
                                <td>{$content.agcy_goods_name}</td> 
                                <td>{$content.yiji_name}</td>
                                <td>{$content.erji_name}</td>
								 
								<td>{$content.agcy_one}</td>
								
                                <td>{$content.agcy_tow}</td>
								<td>{$content.agcy_three}</td>
								<td>{$content.agcy_name}</td>
								<?php if($content['agcy_factory_id']!=""):?>
								<td>{$content.factory_name}</td>
								<?php else:?>
									<td>---</td>
								<?php endif;?> 
								<?php if($content['agcy_goods_yes']==2):?>
									<td>代理商品</td>
								<?php else:?>
									<td>---</td>
								<?php endif;?> 
								<?php if($content['agcy_goods_states']==1):?>
									<td>未审核</td>
								<?php elseif($content['agcy_goods_states']==2):?>
									<td>通过</td>
								<?php else:?>
									<td>驳回</td>
								<?php endif;?> 
                                <td>  
									<?php if($content['agcy_goods_states']==1):?> 
										<p onclick="adopt({$content.agcy_goods_id})"  class="but chaxun">
											<i class="fa fa-check" ></i>
											通过</p>
										<p onclick="refuse({$content.agcy_goods_id})"  class="but chongzhi">
											<i class="fa fa-ban" ></i>
                                        驳回</p> 
                                    <?php endif;?> 
									<a href="{:U('agcygoods/edit',array('agcy_goods_id'=>$content['agcy_goods_id']))}"  class="but chaxun">
										<i class="fa fa-edit"></i>
										编辑
									</a>
									 
                                    <a onclick="xiangQing({$content['agcy_goods_id']})" class="but chaxun" >
                                        <i class="fa fa-eye"></i>
                                        查看详情
                                    </a>
                                </td>
                            </tr> 
                        </volist>
                        </tbody>
                    </table>
                </div>
                {$pageshow}
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    $(function () {
        $(".right_min").height($(window).height());
    });
    //二级分类 
    function get_erji(obj) {
        $("#erji").html("<option value='0' >--请选择--</option> ");
        var yiji_id = $(obj).val()
        if (yiji_id == 0)
            return;
        $.getJSON("{:U('agcygoods/get_erji')}&yiji_id=" + yiji_id, function (data) {
            var html = "";
            for (var i = 0; i < data.length; i++) {
                html += "<option value=" + data[i].agcy_classify_id + ">" + data[i].agcy_classify_name + "</option>";
            }
            $("#erji").append(html);
        });
    }
</script>  
<script src="__PUBLIC__/admin/js/layer/layer.js"></script>  
<script type="text/javascript">
    $(function () {
        $('input, textarea').placeholder();
    });
    
	$(".right_min").height($(window).height());
	var body_w = $(".right_min").width() - 200;
    var body_h = $(".right_min").height() - 100;
	//显示开关1显示；2隐藏
	function checkedswitchs(obj,sclassify_id,field){ 
		if($(obj).is(':checked')){	//显示
			console.log("显示"+sclassify_id);
			$.getJSON("{:U('agcygoods/ajaxable_on')}&id="+sclassify_id+"&field="+field,function(){
			});
		}else{	//false
			console.log("隐藏"+sclassify_id);
			$.getJSON("{:U('agcygoods/ajaxable_off')}&id="+sclassify_id+"&field="+field,function(){
			});
			
		}
	}
	
	 //查看详情
    function xiangQing(agcy_goods_id) { 
        layer.open({
        type: 2,
                title: false,
                skin: "layui-layer-molv",
                shade: [0.8, '#000000'],
                scrollbar: false,
                maxmin: false,
                shadeClose: false, //点击遮罩关闭层
                area: [body_w + "px", body_h + "px"],
                content: "{:U('agcygoods/info')}&agcy_goods_id=" + agcy_goods_id
        });
    }
	//通过申请
    function adopt(agcy_goods_id){
    layer.open({
    type: 2,
            title: false,
            skin: "layui-layer-molv",
            shade: [0.8, '#000000'],
            scrollbar: false,
            maxmin: false,
            shadeClose: false, //点击遮罩关闭层
            area: [body_w + "px", body_h + "px"],
            content: "{:U('Agcygoods/adopt')}&agcy_goods_id=" + agcy_goods_id
    });
    }
    //驳回申请
    function refuse(agcy_goods_id){
    layer.open({
    type: 2,
            title: false,
            skin: "layui-layer-molv",
            shade: [0.8, '#000000'],
            scrollbar: false,
            maxmin: false,
            shadeClose: false, //点击遮罩关闭层
            area: [body_w + "px", body_h + "px"],
            content: "{:U('Agcygoods/refuse')}&agcy_goods_id=" + agcy_goods_id
    });
    }
</script>
